{% extends 'security/base.html.twig' %}

{% trans_default_domain 'security' %}

{% block body %}
<div class="container">	
	<div id="resetbox" class="mainbox col-md-6 col-sm-8 mx-auto mt-5">
		<div class="card" >
			<div class="card-header bg-primary">
				<div class="card-title mb-0 font-weight-bold text-white">{{ 'security.resetting.email.subject'|trans }}</div>
			</div>	 
			<div style="padding-top:30px" class="card-body" >
				<div class="flash-messages-text">
				{% for type, messages in app.session.flashbag.all() %}
					{% for message in messages %}
						<div class="flash-{{ type }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
				</div>
				<p>{{ 'security.resetting.password_already_requested'|trans }}</p>
			</div>
		</div>  
	</div>
</div>
{% endblock body %}
