<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration 
		</h1>
		<p class="lead">Tutoriels</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
				<li data-level="1"><a href="#1">Simulateurs</a></li>
				<li data-level="1"><a href="#2">Source de données</a></li>
				<li data-level="1"><a href="#3">Vues</a></li>
				<li data-level="1"><a href="#4">Utilisateurs</a></li>
			</ul>
		</div>
		<div class="span9">
			<p>
				
				
			</p>
			<div class="documentation-index container-fluid">
				<div class="row">
					<div class="documentation-illustration pull-right">
						<a href="simulators-management.html">
							<img src="{{ asset('bundles/eurekag6k/admin/images/documentation/simulators-illustration.jpeg') }}" alt="Simulateurs" />
						</a>
					</div>
					<div class="documentation-text">
						<h1 id="1">
							Simulateurs
						</h1>
						Un simulateur de calcul est un service en ligne mis à la disposition d’un utilisateur pour lui permettre de calculer des résultats (taxes, prestations sociales, …) correspondant à sa situation particulière.
						<br />
						<br />
						Les résultats sont calculés en fonction des données fournies par l’internaute, de données de références (ex : montant d’une taxe) et de règles qui correspondent à la législation en vigueur dans le domaine de la simulation.
						<br />
						<br />
						<a href="simulators-management.html"> <span>Consulter la documentation</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span> </a>
					</div>
				</div>
				<div class="row">
					<div class="documentation-text pull-right">
						<h1 id="2">
							Source de données
						</h1>
						Une source de données permet à un simulateur d'interroger les valeurs de référence du domaine de la simulation pour réaliser la simulation.
						<br />
						<br />
						La source de données peut être interne, c'est-à-dire que les valeurs sont stockées dans une base de données gérée par G6K, ou externe, c'est-à-dire que les valeurs sont fournies soit via des requêtes sur une bases de données distante, soit via un web service (API).
						<br />
						<br />
						<a href="datasources-management.html"> <span>Consulter la documentation</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span> </a>
					</div>
					<div class="documentation-illustration">
						<a href="datasources-management.html">
							<img class="img-responsive" src="{{ asset('bundles/eurekag6k/admin/images/documentation/datasources-illustration.jpeg') }}" alt="Source de données" />
						</a>
					</div>
				</div>
				<div class="row">
					<div class="documentation-illustration pull-right">
						<a href="views-management.html">
							<img class="img-responsive" src="{{ asset('bundles/eurekag6k/admin/images/documentation/views-illustration.jpeg') }}" alt="Vues" />
						</a>
					</div>
					<div class="documentation-text">
						<h1 id="3">
							Vues
						</h1>
						Les vues sont les modèles de pages et de styles dans lesquelles s'intégrent les simulateurs.
						<br />
						Elles sont composées de « Gabarits » et de « Ressources multimédia ». 
						<br />
						<br />
						<a href="views-management.html"> <span>Consulter la documentation</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span> </a>
					</div>
				</div>
				<div class="row">
					<div class="documentation-text pull-right">
						<h1 id="4">
							Utilisateurs
						</h1>
						G6K dispose d'une interface vous permettant des gérer les comptes utilisateurs qui sont autorisés à accéder soit au module d'administration de G6K, soit aux simulateurs à accès protégés.
						<br />
						<br />
						<a href="users-management.html"> <span>Consulter la documentation</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-book"></span> </a>
					</div>
					<div class="documentation-illustration">
						<a href="users-management.html">
							<img class="img-responsive" src="{{ asset('bundles/eurekag6k/admin/images/documentation/users-illustration.jpeg') }}" alt="Utilisateurs" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
