/web/bundles/
/calcul/bundles/
/src/EUREKA/G6KBundle/Resources/public/service-public.fr/*
/src/EUREKA/G6KBundle/Resources/views/service-public.fr/*
!src/EUREKA/G6KBundle/Resources/data/databases/.gitkeep
/src/EUREKA/G6KBundle/Resources/data/simulators/work/*.xml
!src/EUREKA/G6KBundle/Resources/data/simulators/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/