.page_etape input[type=money]  {
	max-width: 8em;
	width: 8em;
}

.page_etape fieldset {
	margin-top : 0;
	border: 1px solid #e2f1ff;
	margin-bottom: 25px;
	padding: 10px 14px;
	font-size: 1em;
}

.page_etape input[type=text]  {
	max-width: 5.5em;
}

.page_etape input[type=number]  {
	max-width: 3em;
}

.page_etape input {
	height:1.3em;
}
.page_etape input[type=submit], .page_etape input[type=reset] {
	height:auto;
}
.page_etape input[disabled=disabled]  {
	border: 0;
}

.page_etape label , .page_etape .label , .page_etape input{
	display: block;
	float: left;
	margin-bottom: 2px;
}
.page_etape label, .page_etape .label {
	text-align: right;
	padding-right: 10px;
	min-width: 25em;
	width: 25em;
}
.page_etape label.choice {
	text-align: left;
	min-width: initial;
	width: auto;
}

.page_etape br  {
	clear: both;
}
.page_etape .error {
	color: red;
	font-weight: bold;
}
.page_etape .explanation {
	color: blue;
	font-weight: bold;
	width: 25em;
	float:right;
}

.buttons_bar  li {
	padding: 0 1em;
}
.filariane {
	font-family:Arial,Helvetica,sans-serif;
    font-size: 1em;
    color: #333;
    line-height: 1.1em;
    text-align: left;
}
.filariane_01 {
	padding:0;
	list-style:none;
	width:568px;
	min-height:55px;
	background:url(../images/bg_corners_2.png) -8300px 0;
	margin:0 0 18px 0
}
.filariane_01_1 {
	background-position:-5500px 0
}
.filariane_01_2 {
	background-position:-6100px 0
}
.filariane_01_3 {
	background-position:-6700px 0
}
.filariane_01_4 {
	background-position:-7300px 0
}
.filariane_01 li {
    font-size: 0.75em;
    line-height: 1.35em;
	margin:0;
	float:left;
	width:9.1em;
	padding:12px 20px 0 12px;
	list-style:none;
}
.filariane_01 li p {
    font-size: 1em;
	line-height:1.333em;
	padding:0;
	margin:0;
	background:#ddd;
	font-weight:bold;
	display: block;
	
}
.filariane_01 li p:first-line {
	font-size:1.667em
}
.filariane_01 li.current p {
	color:#fff;
	background:#007dbb
}
.filariane_01 li.current p strong {
	font-weight:bold
}
.clearer {
    clear: both;
    float: none;
	padding:0;
	margin:0;
}

.btn-help { padding:0;vertical-align:middle}
.no-js .btn-help { display:none}
.help-panel { margin-top: -3px; }
.help-panel p { margin-bottom:0.5em; width:534px}
.btn-help { border:none; background: transparent; position:relative;display:inline-block;vertical-align:middle;overflow:hidden;padding:0;width:19px;height:19px}
.btn-help img { border:none; position:absolute;top:0;left:0;*position:static}
.ie8 .btn-help img { top:-9px}
.collapse{display:none}
.collapse.in{display:block}
.no-js .collapse{display:block}
.collapsing { position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;transition:height 0.35s ease}
