parameters:
    database_driver: pdo_sqlite
    database_host: 127.0.0.1
    database_port: ~
    database_name: g6k
    database_user: ~
    database_password: ~
    database_path: %kernel.root_dir%/../src/EUREKA/G6KBundle/Resources/data/databases/g6k.db

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    g6k_upload_directory: '%kernel.root_dir%/../calcul/uploads'
