<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel='stylesheet' type='text/css' href="{{ asset('assets/admin/js/libs/bootstrap4/css/bootstrap.css') }}" />
		<link rel='stylesheet' type='text/css' href="{{ asset('assets/admin/css/login.css') }}" />
		<link rel='stylesheet' type='text/css' href="{{ asset('assets/base/js/libs/fontawesome/css/all.min.css') }}" />
	</head>
	<body>
		<h1 class="text-center text-primary">{{ 'Simulators'|trans }}</h1>
		<div>
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
		<script type="text/javascript">
		 var changepasswordinputs = document.querySelectorAll("#changepasswordbox input");
		 for (var i = 0; i < changepasswordinputs.length; i++) {
			changepasswordinputs[i].className += " form-control";
		}
		</script>
	</body>
</html>
