@import "common.css";

/* specific */
.step-page .step-description {
	display: none;
}
#step4 p.mention-asterisk {
	display: none;
}
.step-page .blank {
	display: none;
}
.step-page .listbox {
	padding-left: 15px;
	width: 90%;
}
.step-page .modal-body .listbox {
    width: 90%;
}
.step-page label:not(.choice),
.step-page .label {
	padding-left: 15px;
	padding-right: 30px;
	text-align: left;
}
.step-page .input-group fieldset,
.step-page .post-note, .step-page .pre-note {
	padding-left: 15px;
}
@media (min-width: 37em) {
	.step-page label,
	.step-page .label {
		padding-right: 10px;
		text-align: right;
	}
	#step4 #franceOuImport {
		margin-left: 50%;
	}
}
