header {
	background-image: url(images/g6k-logo.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: black;
	height: 99px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
	position: fixed;
	z-index: 10;
}
header h1 {
	margin-top: 0;
	margin-left: 186px;
	padding-top: 30px;
}
main {
	padding-top: 100px;
}
h1, footer span {
	color: #2B4E6B;
}
.step-page .step-panel-container div.fieldset {
	display:none;
}
.step-page .step-description p {
	margin: 0;
	padding: 0;
}
.step-page .mention-asterisk {
	margin: 1em 0 1em;
	padding: 0;
}
.step-page .mention-asterisk .asterisk, .step-page label .asterisk {
	color: #c22222;
}
.step-page label .asterisk:nth-child(2) {
	display: none;
}
.step-page input {
	height: 1.3em;
}
.step-page input[type=text],
.step-page input[type=date],
.step-page input.date,
.step-page input[type=number],
.step-page input[type=money] {
	box-sizing: border-box;
	margin-top: 0;
	margin-right: 0.5em;
	padding-left: 0.2em;
	height: auto;
	line-height: 2em;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}
.step-page input[type=money]  {
	max-width: 11em;
	width: 11em;
	font-size: 1.5em;
}
.step-page fieldset, .step-page .fieldset {
	margin-top : 0;
	margin-bottom: 25px;
	padding: 10px 14px;
	font-size: 1em;
	width: 100%;
	float: left;
}
@media (min-width: 37em) {
	.step-page fieldset, .step-page .fieldset {
		width: 50%;
	}
	.step-page .field-container fieldset {
		width: 90%;
	}
}
.step-page .form-group  .input-group {
	display: inline-table;
}
.step-page .form-group[data-type=date] .input-group {
	max-width: 5.5em;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 5.5em; /* useful only for safari < 5.1 */
}
.step-page input[type=number]  {
	max-width: 3em;
}
.step-page input[type=submit], .step-page input[type=reset] {
	height:auto;
}
.step-page input[disabled=disabled]  {
	border: 0;
}
.step-page .field-container .input-group + .unit {
	margin-top: -1.7em;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.step-page label , .step-page .label , .step-page input{
	margin-bottom: 2px;
	font-size: 100%;
}
.step-page label, .step-page .label {
	padding: 0 0 0.3em;
	width: 100%;
	font-size: 1em;
	color: #000;
	text-align: left;
	white-space:  normal;
}
.step-page label.choice {
	text-align: left;
	min-width: initial;
	width: auto;
}
.step-page .emphasized,
.step-page .explanation {
	color: #3074AF;
}
/*********************************************************
 * Money and percent symbol                                          *
 *********************************************************/
.step-page .input-group + span.money-symbol {
	display: inline-block;
	margin-top: -1.7em;
	padding: 0;
	vertical-align: middle;
	font-size: 1.5em;
}
.step-page .input-group span.money-symbol.before {
	font-size: 1.5em;
}
.step-page .input-group + span.money-symbol.after {
	margin-top: -0.3em;
}
.step-page .input-group + span.percent-symbol {
	display: inline-block;
	margin-top: -1.7em;
	padding: 0;
	vertical-align: middle;
}
.step-page .field-container[data-type=percent] input {
	max-width: 3.5em;
}
.step-page .output span.money-symbol {
	margin-top: 0;
}
/*********************************************************
 * Help button                                          *
 *********************************************************/
.step-page .btn-help {
	width: 20px;
	height: 20px;
	font-size: 1.4em;
	border: none;
	background: transparent;
	clear: initial;
	float: right;
}
@font-face { font-family: 'fonticon'; src: url("../webfonts/fonticon/fonticon.eot?-765im2"); src: url("../webfonts/fonticon/fonticon.eot?#iefixe-765im2") format("embedded-opentype"), url("../webfonts/fonticon/fonticon.woff?-765im2") format("woff"), url("../webfonts/fonticon/fonticon.ttf?-765im2") format("truetype"), url("../webfonts/fonticon/fonticon.svg?-765im2#fonticon") format("svg"); font-weight: normal; font-style: normal; }
.icon { font-family: 'fonticon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-help:before {
	content: "\e603";
	color: #2B4E6B;
}
.listbox {
	max-width: 10em;
}
.listbox.blue a.listbox-button {
	background-color: transparent;
	color: #2B4E6B;
}
.listbox.blue a.listbox-button:hover, .listbox.blue a.listbox-button:focus {
	background-color: #2B4E6B;
	color: #fff;
}
.listbox.blue .listbox-edit {
	color: #2B4E6B;
}
.step-page .btn-help .blank {
	display: none;
}
.step-page .input-group ~ .btn-help {
	margin: -1.9em 0.5em 0;
	padding: 0;
}
.step-page .form-group.ChoiceSlider-field .input-group ~ .btn-help {
	margin: -0.5em 0.5em 0;
}
.step-page .form-group.SquareRadioButton-field .input-group ~ .btn-help {
	margin: 1.8em 0.5em 0;
}
.step-page .form-group[data-type=money] .input-group ~ .btn-help {
	margin: 0.5em 0.5em 0;
}
.step-page .listbox ~ .btn-help {
	margin: -2.1em 0.5em 0;
}
.step-page .form-group[data-type=boolean] .input-group ~ .btn-help {
	margin: -.5em 0.5em 0;
}
body.iOS .step-page .form-group[data-type=date] .input-group  ~ button.btn-help {
	margin: -1.5em 0.5em 0 3em;
}
.step-page .output ~ .btn-help {
	margin: -0.5em 0.9em 0;
}
.step-page .help-panel {
	clear: both;
}
.step-page .help-panel:before, .step-page .help-panel:after {
	display: none;
}
.step-page .help-panel dt {
	display: none;
}
.step-page .help-panel dd {
	border: 1px solid #CCC;
}
.step-page fieldset legend {
	display: none;
}
.step-page .legend {
	font-weight: bold;
	font-size: 1.5em;
}
.step-page input {
	color: #2B4E6B;
}
.step-page input.has-error {
	  font-weight: normal;
	  border: 1px solid #c60000;
	  background-color: #f5dedb;
}
.step-page br  {
	clear: both;
}
.step-page .error {
	color: red;
	font-weight: bold;
}
.step-page .emphasized {
	color: #2B4E6B;
	font-weight: bold;
}
.step-page .explanation {
	color: #2B4E6B;
	font-weight: bold;
	width: 25em;
	float:right;
}
.action_buttons  input {
	margin-right: 1em;
}
.simulator-breadcrumb {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
 }
.simulator-breadcrumb ol {
	display: table;
	padding: 0;
	width: 100%;
}
.simulator-breadcrumb li {
	display: block;
}
.simulator-breadcrumb li p {
	position: relative;
	display: block;
	margin: 0 0 0.1em;
	padding: 1em 0.3em 1em 3em;
	height: 50px;
	text-decoration: none;
	color: #000;
	background: #ececec;
}
.simulator-breadcrumb li p span {
	display: inline-block;
	vertical-align: middle;
}
.simulator-breadcrumb li p span:first-child {
	font-size: 1.2em;
}
.simulator-breadcrumb li.current.current p {
	color: #fff;
	background: #3074AF;
}
.simulator-breadcrumb li.current p:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #fff;
}
.simulator-breadcrumb li:last-child p {
	margin: 0;
}
@media (min-width: 37em) {
	.simulator-breadcrumb li p {
		margin: 0 10px 0 0;
		padding: 15px 5px;
		height: 50px;
		text-align: center;
	}
	.simulator-breadcrumb li {
		display: table-cell;
	}
	.simulator-breadcrumb li:first-child p:before {
		display: none;
	}
	.simulator-breadcrumb li:last-child p:after {
		height: 100%;
		border: 0;
		background: #3074AF;
	}
	.simulator-breadcrumb li.current:last-child p:after {
		background: #fff;
	}
	.simulator-breadcrumb li p:after {
		position: absolute;
		content: '';
		top: 0;
		right: -24px;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #ececec;
		z-index: 1;
	}
	.simulator-breadcrumb li.current p:after {
		border-left-color: #3074AF;
	}
	.simulator-breadcrumb li p:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid #fff;
	}
}
/*********************************************************
 * Grid                                                  *
 *********************************************************/
.step-page div.grid {
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.step-page .grid-header {
	color: #fff;
	background: #3074AF;
}
.step-page div.grid .grid-header > div {
	border-right-color: #fff;
	border-left-color: #fff;
}
.step-page div.grid > div {
	display: table-row;
}
.step-page div.grid > div:nth-child(2n) {
	background: #fff;
}
.step-page div.grid div[role=gridcell], .step-page div.grid div[role=columnheader] {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #cccccc;
}
.step-page div.grid > div:first-child div:not(:first-child) {
	font-weight: bold;
	text-align: center;
}
.step-page div.grid > div:first-child div:nth-child(2) {
	width: 110px;
}
.step-page div.grid > div:first-child div:nth-child(3) {
	margin-right: 50px;
	width: 72px;
}
.step-page div.grid > div:first-child div:nth-child(4) {
	width: 50px;
}
.step-page div.grid > div:first-child div:nth-child(5),
.step-page div.grid > div:first-child div:nth-child(6) {
	width: 60px;
}
.step-page div.grid > div:not(:first-child) div {
	font-weight: normal;
}
.step-page div.grid > div:not(:first-child) div > span.output {
	padding-bottom: 9px;
}
.step-page div.grid > div:not(:first-child) div:nth-child(5),
.step-page div.grid > div:not(:first-child) div:nth-child(6) {
	padding-bottom: 2px;
	padding-left: 8px;
}
.clearer {
	clear: both;
	float: none;
	padding:0;
	margin:0;
}
.step-page .action_buttons {
	clear: both;
	float: none;
}

.help-panel { margin-top: -3px; }
.help-panel p { margin-bottom:0.5em;}

.step-page .field-container[data-type=choice] .input-group {
	width: 80%;
}
.field-container.SquareRadioButton-field fieldset label.checked,
.field-container.SquareRadioButton-field fieldset label.checked::after {
	color: #fff;
	background-color: #2B4E6B;
}
.range-labels .active {
  color: #2B4E6B;
}
.range-labels .selected::before {
  background: #2B4E6B;
}
.range input::-webkit-slider-thumb {
  background: #2B4E6B;
}
.range input::-moz-range-thumb {
  background: #2B4E6B;
}
.range input::-ms-thumb {
  background: #2B4E6B;
}
.step-page .step-panel-container div.fieldset .field-container {
	text-align: center;
}
.step-page .step-panel-container div.fieldset .field-container .label {
	display: block;
	text-align: center;
}
#totalMA-container span:not(.label),
#totalPA-container span:not(.label) {
	font-size: 4em;
}