#business-rules .conditions, #business-rules .actions {
	margin: 20px 0;
}

#business-rules .conditions > .conditional > .remove, #business-rules .actions > .conditional > .remove {
	display: none;
}
#business-rules .error {
	border: 1px solid red;
}

#business-rules .form-control, #datas .attribute-expression .form-control {
	display: inline;
	width: auto;
	height: 30px;
}

#business-rules .conditional {
	padding-left: 60px;
}

#business-rules .conditional .all-any-none-wrapper {
	margin: 5px 20px 5px -60px;
	display: -moz-inline-stack;
	display: inline-block;
}

#business-rules .all-any-none {
	margin-right: 10px;
}

#business-rules .all-any-none-wrapper, #business-rules .conditional, #business-rules .rule-container {
	margin: 10px 0;
}

#business-rules .rule-container input {
	width: 250px;
}

#business-rules .rule-container input.input-rule-label {
	min-width: 400px;
}

#business-rules .rule-container select {
	margin-right: 10px;
}

#business-rules .rule-container .delete-rule {
	margin-top: -8px;
}

#business-rules .action-buttons {
	margin: 20px 0;
}

#business-rules .action {
	margin: 10px 0;
}

#business-rules .action .subfields, #business-rules .action .subfields .field {
	display: inline;
}

#business-rules .action select, #business-rules .action input, #business-rules .action textarea {
	margin-right: 10px;
}

#business-rules .action textarea, #business-rules .action input {
	width: 250px;
}

#business-rules .action textarea {
	margin-top: -6px;
	vertical-align: top;
	height: 50px;
}

#business-rules .remove, #business-rules .add, #business-rules .add-condition, #business-rules .add-sub-condition {
	height: 24px;
	margin: auto 5px;
}


.editable-select, .editable-textarea {
	cursor: pointer;
	padding-bottom: 2px;
	border-bottom: thin dotted;
}
.editable-select:focus,
.expression button:focus {
	outline: thin dotted;
}
.editable-textarea textarea {
	min-width: 20em;
	min-height: 5em;
	vertical-align: middle;
}
.action div, .editable-select select, .editable-textarea textarea{
	display: inline;
}
.action span, .action label,
.rule span, .rule label {
	margin-right: .2em;
	font-weight: normal;
}
.action .subfields .subfields .editable-select:before, .action .editable-textarea:before {
	content: '«';
}
.action .subfields .subfields .editable-select:after, .action .editable-textarea:after {
	content: '» ';
}
.rule .field.editable-select:before, .rule .field.editable-textarea:before,
.rule .value.editable-select:before, .rule .value.editable-textarea:before,
.rule .value.expression:before {
	content: '«';
}
.rule .field.editable-select:after, .rule .field.editable-textarea:after,
.rule .value.editable-select:after, .rule .value.editable-textarea:after,
.rule .value.expression:after {
	content: '» ';
}
.expression .operand-holder {
	width: auto;
	border: none;
}
.rule-header {
	width: 100%;
	background: #D0D0D0;
	font-size: 1.8em;
}
.rule-container {
	margin-bottom: 2em;
}

.operand-wrapper, .operator-wrapper {
	padding: 0;
	margin: 0;
}

.operand-holder, .operator-holder, .right-parenthesis-holder  {
	border: none;
}
