#authentification a {
	display: inline !important;
}
#authentification  {
	color : #ccc;
	margin-top: 1em;
}
#page {
	margin-top: 3em;
}
#page .thumbnails {
	text-align: center;
}
#page .thumbnails a{
	text-decoration: none;
}
.has-error {
	font-weight: bold;
	color: #A96193;
}
.delete-attribute {
	cursor: pointer;
}

.attributes-container {
	display: table; 
	width: 100%;
}
.attributes-container > div {
	display: table-cell; 
}
.attributes-container > div:first-child {
	width: 80%;
}
.attributes-container > div:last-child {
	width: 20%;
	border: 1px solid #ddd;
	
}
.attributes-container label {
	margin-top: 0.6em;
}
.optional-attributes  {
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 50px;
	cursor: default;
}
.optional-attributes  li:hover{
	background : #eee;
}
.nav-pills li:first-child {
	margin-left: 0.1em;
}
.expression-type .select2-choice {
	background: #DDD !important;
}
.attribute-expression {
	margin-left: 15px;
}
.attribute-expression, .attribute-expression .form-control {
	max-width: 250px !important;
	overflow-x: hidden;
}
.alert {
	display: none;
	width: 80%;
}
.context-menu-holder {
	display: inline-block;
}
.context-menu-holder li {
	min-width: 300px;
}
ul.rule-conditions > li {
	list-style-type: none;
	margin-left: -35px;
}
/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 260px;
        padding: 0px 18px;
        min-height: 1200px;
    }
		
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
		border-radius: 0px; 
	}
}

.navbar-side > div {
	margin-bottom: 1em;
}
.navbar-side > div  > h3 {
	margin: 0;
	text-align: center;
}
.navbar-side > div  h4 {
	font-style: italic;
}
.content table {
	clear: both;
}
.navbar-side li {
	margin-left: -2em;
}
.content th  span {
	vertical-align: middle;
	display: inline-block;
	line-height:normal; 
}
.content th  span:nth-child(2) {
	float: right;
}
.content td.integer, .content td.year {
	width: 4em;
	text-align: center;
}
.content td.money, .content td.number{
	width: 5em;
}
.content td.date {
	width: 6.5em;
}
#data-sources .panel-body > div {
	width: 100%;
	margin-bottom: 40px;
}
#btnAddNewRow, #btnAddNewTable {
	float: right;
}

#data-sources ul , #simulators ul {
	margin-top: 6em;
}

#datasource-import-panel-holder .form-group input,
#simulator-import-panel-holder .form-group input {
	margin: 0;
	padding: 0;
}
#datasource-import-panel-holder .form-group > div,
#simulator-import-panel-holder .form-group > div {
	line-height: 6em;
}

.edit-simulator, .add-data, .edit-data, .delete-data, 
.add-datagroup, .edit-datagroup, .delete-datagroup, 
.add-rule, .edit-rule, .add-step, .edit-step, 
.add-choice, .add-source, .add-choice-source, .edit-choice-source, 
.delete-choice, .delete-choice-source, 
.expand-all, .collapse-all, 
.edit-table-button, .drop-table-button,
.edit-datasource-button, .drop-datasource-button,
.view-button {
	margin-top: -9px;
}
button.save-simulator {
	position: fixed;
	top: 60px;
	z-index: 10000;
	right: 0px;
	display: none;
}

.bootstrap-wysihtml5-insert-link-modal .checkbox {
	margin-left: 25px;
}
#toTop{
	position: fixed;
	bottom: 5px;
	right: 0px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}