		<div class="flash-messages-text">
		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="flash-{{ type }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		</div>
