<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel='stylesheet' type='text/css' href="{{ asset('bundles/eurekag6k/admin/js/bootstrap/css/bootstrap.css') }}" />
		<link rel='stylesheet' type='text/css' href="{{ asset('bundles/eurekag6k/admin/js/bootstrap/css/bootstrap-theme.css') }}" />
		<link rel='stylesheet' type='text/css' href="{{ asset('bundles/eurekag6k/admin/css/login.css') }}" />
	</head>
	<body>
		<h1 class="text-center text-primary">{{ 'Simulators'|trans }}</h1>
		<div>
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
		<script type="text/javascript">
		 var changepasswordinputs = document.querySelectorAll("#changepasswordbox input");
		 for (var i = 0; i < changepasswordinputs.length; i++) {
			changepasswordinputs[i].className += " form-control";
		}
		</script>
	</body>
</html>
