.restcountriesAPI-confirm label {
	width: 100% !important;
	text-align: left !important;
	margin-left: 1em;
}
.restcountriesAPI-confirm select {
	width: 75% !important;
	margin-left: 1em;
	font-size: 1em;
	max-height: 4.5em;
}
.restcountriesAPI-confirm button {
	width: 75% !important;
	margin-left: 1em;
	font-size: 1em;
}
