				<h1 id="modification-d-une-regle">
					4. Modification d'une règle
				</h1>
				<p>Pour modifier une règle, cliquez sur le bouton « Modifier » de la barre de titre de la règle à modifier :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-edit-button.png') }}" alt="">
				</p>
				<p>Le formulaire d'édition d'une règle est le même que celui de saisie d'une règle, reportez-vous donc à la section <a href="#saisie-d-une-regle">Saisie d'une règle</a> du présent document.</p>
				
