				<h5 id="operateurs">
					3.1.1.2.1. Opérateurs
				</h5>
				{% include 'admin/pages/documentation/fr/business-rules-operateurs-de-chaines.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-operateurs-numeriques.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-operateurs-de-date.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-operateurs-de-choix.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-operateurs-booleens.html.twig' %}
				
