				<h3 id="suppression-d-une-condition">
					3.1.2. Suppression d'une condition
				</h3>
				<p>
					Pour supprimer une condition simple ou composée, cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/business-rules-condition-delete-button.png') }}" alt="">
					à droite de la condition.
				</p>
				
