				<h2 id="suppression-d-une-action">
					3.3. Suppression d'une action
				</h2>
				<p>
					Pour supprimer une action, cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/business-rules-action-delete-button.png') }}" alt="">
					à gauche de l'action.
				</p>
				
