				<h1 id="suppression-d-une-regle">
					5. Suppression d'une règle
				</h1>
				<p>Pour supprimer une règle, dépliez le panneau « Règles métier » puis cliquez sur le bouton « Supprimer » de la barre de titre de la règle que vous souhaitez supprimer :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-delete-button.png') }}" alt="">
				</p>
				<p>Puis confirmez la suppression :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-delete-confirm.png') }}" alt="">
				</p>
				
