				<h4 id="selection-de-l-operande">
					3.1.1.1. Sélection de l'opérande
				</h4>
				<p>Cliquez sur le premier élément souligné de la condition, une liste déroulante s'affiche :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/business-rules-conditions-operands.png') }}" alt="">
				</p>
				<p>Les éléments de cette liste sont composés à partir des données que vous avez définies dans le panneau « Données ».</p>
				
