				<h6 id="operateurs-de-date">
					3.1.1.2.1.3. Opérateurs de date
				</h6>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Opérateur</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>est renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande contient une valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande ne contient aucune valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>correspond à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande est égale à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>ne correspond pas à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande est différente de la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est postérieure à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande est postérieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas antérieure à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande n'est pas antérieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est antérieure à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande est antérieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas postérieure à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée de type date associée à l'opérande n'est pas postérieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
					</tbody>
				</table>
				
