				<h1 id="interface-de-composition-des-regles">
					2. Interface de composition des règles
				</h1>
				<p>L'interface de G6K permettant de saisir ou modifier une règle est la suivante :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-add.png') }}" alt="">
				</p>
				<p>Pour y accéder, cliquez sur le bouton « Simulateurs » de la barre de menu :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-simulators-buttonbar.png') }}" alt="">
				</p>
				<p>Puis sélectionnez le simulateur dans le menu latéral gauche.</p>
				<p>Pour saisir une nouvelle règle, cliquez sur le bouton « Ajouter » du panneau « Règles métier » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-add-button.png') }}" alt="">
				</p>
				<p>Pour modifier une règle, dépliez le panneau « Règles métier » puis cliquez sur le bouton « Modifier » de la barre de titre de la règle que vous souhaitez modifier :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-rule-edit-button.png') }}" alt="">
				</p>
				
