				<h6 id="operateurs-booleens">
					3.1.1.2.1.5. Opérateurs booléens
				</h6>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Opérateur</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>est renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande contient une valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande ne contient aucune valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est vrai</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est égale à 'true', « faux » sinon.</td>
						</tr>
						<tr>
							<td>est faux</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est égale à 'false', « faux » sinon.</td>
						</tr>
					</tbody>
				</table>
				<p>
					Les opérateurs « est renseigné », « n'est pas renseigné », « est vrai » et « est faux » sont des opérateurs unaires c'est-à-dire qu'ils n'opèrent que sur l'opérande. Il n'y pas d'expression à leur droite.
					<br>
					Les autres opérateurs sont des opérateurs binaires.
				</p>
				
