				<h6 id="operateurs-numeriques">
					3.1.1.2.1.2. Opérateurs numériques
				</h6>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Opérateur</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>est renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande contient une valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas renseigné</td>
							<td>L'évaluation retourne « vrai » si la donnée associée à l'opérande ne contient aucune valeur, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est égal à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est égale à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>n'est pas égal à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est différente de la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est supérieur à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est supérieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon. |</td>
						</tr>
						<tr>
							<td>est supérieur ou égal à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est supérieure ou égale à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est inférieur à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est inférieure à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>est inférieur ou égal à</td>
							<td>L'évaluation retourne « vrai » si la valeur de la donnée associée à l'opérande est inférieure ou égale à la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>contient</td>
							<td>Ne s'applique qu'aux opérandes de type 'liste' : L'évaluation retourne « vrai » si la valeur de la donnée de type 'liste' associée à l'opérande contient la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
						<tr>
							<td>ne contient pas</td>
							<td>Ne s'applique qu'aux opérandes de type 'liste' : L'évaluation retourne « vrai » si la valeur de la donnée de type 'liste' associée à l'opérande ne contient pas la valeur du résultat de l'évaluation de l'expression, « faux » sinon.</td>
						</tr>
					</tbody>
				</table>
				
