				<h1 id="tri-des-regles">
					6. Tri des règles
				</h1>
				<p>
					Pour réordonner les règles, déplier le panneau « Règles métier », cliquez la barre de titre de la règle que vous souhaitez déplacer et tout en maintenant le bouton gauche de la souris enfoncée (le curseur 
					<img src="{{ asset('assets/admin/images/documentation/drag-cursor.png') }}" alt="">
					apparait), glissez la règle jusqu'à l'emplacement désiré.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/business-rules-rule-drag.png') }}" alt="">
				</p>
			
