				<h4 id="selection-de-l-operateur">
					3.1.1.2. Sélection de l'opérateur
				</h4>
				<p>Cliquez sur le deuxième élément souligné de la condition, une liste déroulante s'affiche :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/business-rules-conditions-operators.png') }}" alt="">
				</p>
				<p>La composition de cette liste d'opérateurs dépend du type de donnée de l'opérande. Ces opérateurs sont décrits ci-après :</p>
				{% include 'admin/pages/documentation/fr/business-rules-operateurs.html.twig' %}
				
