				<h3 id="condition-simple">
					3.1.1. Condition simple
				</h3>
				<p>Comme vu en début de ce document, une condition simple à pour syntaxe :</p>
				<pre class="prettyprint">
<condition simple> : <opérande><opérateur>[(<valeur> | <expression>)]
</pre>
				{% include 'admin/pages/documentation/fr/business-rules-selection-de-l-operande.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-selection-de-l-operateur.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-saisie-de-la-valeur-de-l-expression.html.twig' %}
				
