				<h1 id="saisie-d-une-regle">
					3. Saisie d'une règle
				</h1>
				<p>Le formulaire de saisie d'une règle comporte 4 blocs :</p>
				<ol>
					<li>le bloc de saisie des attributs de la règle.</li>
					<li>le bloc de saisie de la condition de déclenchement des actions de la règle.</li>
					<li>le bloc de saisie des actions à exécuter lorsque la condition est vraie.</li>
					<li>le bloc de saisie des actions à exécuter lorsque la condition est fausse.</li>
				</ol>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Nom » : Nom de la règle.</li>
					<li>« Libellé » : Libellé de la règle.</li>
				</ol>
				<p>Le nom et le libellé apparaissent dans la barre de titre du panneau de la règle pour vous permettre de la repérer lorsque le panneau est replié. Donnez donc un libellé explicite à la règle.</p>
				{% include 'admin/pages/documentation/fr/business-rules-saisie-d-une-condition.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-saisie-d-une-action.html.twig' %}
				{% include 'admin/pages/documentation/fr/business-rules-suppression-d-une-action.html.twig' %}
				
