				<h4 id="saisie-de-la-valeur-de-l-expression">
					3.1.1.3. Saisie de la valeur / de l'expression
				</h4>
				<p>
					Si l'opérateur sélectionné est un opérateur binaire, une boite à liste s'affiche après l'opérateur.
					<br>
					Si l'opérande est de type « choix », la boite à liste affichée est la liste des valeurs possibles de l'opérande.
					<br>
					Sinon la boite à liste vous permet de composer une expression :
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/business-rules-conditions-expression.png') }}" alt="">
				</p>
				<p>Se reporter à la page <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition des expressions</a> pour savoir comment saisir une expression.</p>
				
