				<h3 id="supprimer-une-table">
					2.1.5. Supprimer une table
				</h3>
				<p>Dans la barre latérale gauche, sélectionnez la source à laquelle appartient la table puis cliquez sur le libellé de la table dans le bloc du haut.</p>
				<p>Les informations de la table s'affichent, cliquez sur « Supprimer » de la barre de titre :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-delete-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-delete-confirm.png') }}" alt="">
				</p>
				<p>Confirmez l'action pour supprimer définitivement la table. Cette opération est irréversible.</p>
				
