				<h2 id="base-de-donnees-distante">
					3.1. Base de données distante
				</h2>
				{% include 'admin/pages/documentation/fr/datasources-management-declaration-de-la-source-de-donnees.html.twig' %}
				
