				<h2 id="modifier-une-source-de-donnees">
					2.3. Modifier une source de données
				</h2>
				<p>Cliquez sur « Sources de données » de la barre de menu.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="">
				</p>
				<p>Puis cliquez sur la source de données à modifier dans la barre latérale gauche.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-update-button.png') }}" alt="">
				</p>
				<p>Puis cliquez sur le bouton « Modifier » de la barre de titre.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-update-confirm.png') }}" alt="">
				</p>
				<p>Confirmez l'action pour afficher le formulaire de modification.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-update.png') }}" alt="">
				</p>
				<p>
					Le formulaire prérempli est le même que celui présenté dans la section « Création de la source de données » au début de ce document.
					<br>
					Reportez-vous à cette section pour suivre la procédure.
				</p>
				
