				<h3 id="creation-des-tables">
					2.1.1. Création des tables
				</h3>
				<p>
					Une fois la source de données enregistrée, la base de données est présente mais ne contient aucune table. Pour en créer une, cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-create-button.png') }}" alt="">
					du menu latéral gauche.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-create.png') }}" alt="">
				</p>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Nom » : Nom de la table sans espaces ni caractères spéciaux ou accentués.</li>
					<li>« Libellé » : Titre de la table.</li>
				</ol>
				<p>Vous pouvez décrire la table dans l’espace « Description » prévu à cet effet.</p>
				<p>Le bouton « Ajouter un champ » vous permet d'ajouter des champs (colonnes) dans la base de données :</p>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Champ » : Nom du champ sans espaces ni caractères spéciaux ou accentués.</li>
					<li>« Type » : Type du champ.</li>
					<li>« Non nul » : Si la donnée contenue dans ce champ est obligatoire, sélectionnez « Oui » sinon sélectionnez « Non ».</li>
					<li>« Libellé » : Titre du champ.</li>
				</ol>
				<p>Assurez-vous d’ajouter tous les champs nécessaires avant d’enregistrer.</p>
				<p>Si vous ajoutez un champ après avoir enregistré, vous ne pourrez plus sélectionner « Oui » pour l'attribut « Non nul ». C'est une contrainte liée au SGBDR.</p>
				<p>La procédure est la même pour créer une autre table.</p>
				
