				<h2 id="supprimer-une-source-de-donnees">
					2.4. Supprimer une source de données
				</h2>
				<p>Cliquez sur « Sources de données » de la barre de menu</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-datasources-buttonbar.png') }}" alt="">
				</p>
				<p>Puis cliquez sur la source de données à supprimer dans la barre latérale gauche.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-delete-button.png') }}" alt="">
				</p>
				<p>Puis cliquez sur le bouton « Supprimer » de la barre de titre.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-delete-confirm.png') }}" alt="">
				</p>
				<p>Confirmez l'action pour supprimer définitivement la source.</p>
				<p>Cette opération est irréversible. Si toutefois vous avez exporté la source de données (Cf. « Exporter une source de données » plus haut dans ce document), vous pouvez réimporter la source en suivant la procédure ci-dessous.</p>
				
