				<h2 id="import-de-la-source-de-donnees">
					2.5. Import de la source de données
				</h2>
				<p>Vous avez la possibilité d’importer une source de données qui aurait été exportée d'une autre instance de G6K.</p>
				<p>Extraire les 2 fichiers de l'archive sur votre ordinateur.</p>
				<p>Cliquez sur le bouton « Importer source de données » de la barre latérale gauche.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-import-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-import.png') }}" alt="">
				</p>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Fichier du schéma JSON » : Cliquez sur « Choisissez un fichier » et sélectionnez le fichier .schema.json.</li>
					<li>« Fichier des données JSON » : Cliquez sur « Choisissez un fichier » et sélectionnez le fichier .json.</li>
				</ol>
				
