				<h3 id="modifier-la-structure-d-une-table">
					2.1.4. Modifier la structure d'une table
				</h3>
				<p>La structure de la table (son nom, son libellé, les caractéristiques de ses champs) peut être modifiée dans la limite des contraintes imposées par le SGBDR sous-jacent.
Des champs peuvent être rajoutés ou supprimés.</p>
				<p>Dans la barre latérale gauche, sélectionnez la source à laquelle appartient la table puis cliquez sur le libellé de la table dans le bloc du haut.</p>
				<p>Les informations de la table s'affichent, cliquez sur « Modifier la structure de la table » de la barre de titre :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-update-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/datasources-management-table-update-confirm.png') }}" alt="">
				</p>
				<p>Confirmez l'action pour afficher le formulaire de modification.</p>
				<p>
					Le formulaire de modification prérempli est le même que celui présenté dans la section « Création des tables » au début de ce document.
					<br>
					Reportez-vous à cette section pour suivre la procédure.
				</p>
				
