				<h1 id="source-de-donnees-interne.">
					2. Source de données interne.
				</h1>
				{% include 'admin/pages/documentation/fr/datasources-management-creation-de-la-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-exporter-une-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-modifier-une-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-supprimer-une-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-import-de-la-source-de-donnees.html.twig' %}
				
