				<h1 id="source-de-donnees-externe.">
					3. Source de données externe.
				</h1>
				{% include 'admin/pages/documentation/fr/datasources-management-base-de-donnees-distante.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-web-service.html.twig' %}
				
