<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Gestion des sources de données de référence</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#source-de-donnees">1. Source de données</a>
<a class="nav-link ml-1" href="#source-de-donnees-interne.">2. Source de données interne.</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#creation-de-la-source-de-donnees">2.1. Création de la source de données</a>

						<nav class="nav nav-pills flex-column">
<a class="nav-link ml-3" href="#creation-des-tables">2.1.1. Création des tables</a>
<a class="nav-link ml-3" href="#alimentation-des-tables">2.1.2. Alimentation des tables</a>
<a class="nav-link ml-3" href="#import-de-donnees-dans-les-tables">2.1.3. Import de données dans les tables</a>
<a class="nav-link ml-3" href="#modifier-la-structure-d-une-table">2.1.4. Modifier la structure d'une table</a>
<a class="nav-link ml-3" href="#supprimer-une-table">2.1.5. Supprimer une table</a>
</nav>
						<a class="nav-link ml-2" href="#exporter-une-source-de-donnees">2.2. Exporter une source de données</a>
<a class="nav-link ml-2" href="#modifier-une-source-de-donnees">2.3. Modifier une source de données</a>
<a class="nav-link ml-2" href="#supprimer-une-source-de-donnees">2.4. Supprimer une source de données</a>
<a class="nav-link ml-2" href="#import-de-la-source-de-donnees">2.5. Import de la source de données</a>

					</nav>
					<a class="nav-link ml-1" href="#source-de-donnees-externe.">3. Source de données externe.</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#base-de-donnees-distante">3.1. Base de données distante</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#declaration-de-la-source-de-donnees">3.1.1. Déclaration de la source de données</a>

							<nav class="nav nav-pills flex-column">
<a class="nav-link ml-4" href="#declaration-des-tables">3.1.1.1. Déclaration des tables</a>
</nav>
						</nav>
						<a class="nav-link ml-2" href="#web-service">3.2. Web service</a>

						<nav class="nav nav-pills flex-column">
<a class="nav-link ml-3" href="#declaration-de-la-source-de-donnees-1">3.2.1. Déclaration de la source de données</a>
</nav>
					</nav>
				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/fr/datasources-management-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-source-de-donnees-interne..html.twig' %}
				{% include 'admin/pages/documentation/fr/datasources-management-source-de-donnees-externe..html.twig' %}
				</div>
		</div>
	</div>
</div>
