				<h2 id="exemple-d-expression">
					1.2. Exemple d'expression
				</h2>
				<p>Dans le simulateur de démo fourni avec G6K pour le calcul d'une pension alimentaire, la donnée « Montant par enfant » est calculée avec l'expression suivante :</p>
				<p><code>max(0, round((Revenus du débiteur - Montant forfaitaire du RSA) * Taux pension alimentaire / 100))</code></p>
				<p>Dans cette expression « Revenus du débiteur », « Montant forfaitaire du RSA » et « Taux pension alimentaire » sont des champs (données), « max » et « round » sont des fonctions, « 0 » et « 100 » sont des constantes, « - », « * » et « / » sont des opérateurs.</p>
			
