				<h4 id="champs">
					1.1.1.2. Champs
				</h4>
				<p>La liste des champs est constituée à partir des libellés des données que vous avez définis (panneau « Données »).</p>
				<p>Pour insérer un champ dans l'expression, sélectionnez le dans la liste.</p>
				
