<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Composition des expressions</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#expressions">1. Expressions</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#composition-d-une-expression">1.1. Composition d'une expression</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#operandes">1.1.1. Opérandes</a>

							<nav class="nav nav-pills flex-column">
<a class="nav-link ml-4" href="#divers">1.1.1.1. Divers</a>
<a class="nav-link ml-4" href="#champs">1.1.1.2. Champs</a>
<a class="nav-link ml-4" href="#constantes">1.1.1.3. Constantes</a>
<a class="nav-link ml-4" href="#fonctions">1.1.1.4. Fonctions</a>
</nav>
							<a class="nav-link ml-3" href="#operateurs">1.1.2. Opérateurs</a>

						</nav>
						<a class="nav-link ml-2" href="#exemple-d-expression">1.2. Exemple d'expression</a>

					</nav>
				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/fr/expression-builder-expressions.html.twig' %}
				</div>
		</div>
	</div>
</div>
