				<h4 id="divers">
					1.1.1.1. Divers
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Constante</td>
							<td>
								Permet de saisir une valeur littérale. Après sélection de cet élément, le champ de saisie apparait : 
								<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-operand-constant-input.png') }}" alt="">
								. Saisissez la valeur puis appuyez sur la touche « Entrée ». Le mot « Constante » est remplacé par la valeur saisie.
							</td>
						</tr>
						<tr>
							<td>Sous-expression</td>
							<td>
								Permet de mettre une partie de l'expression entre parenthèses. Après sélection de cet élément, la boite à liste s'entoure de parenthèses :
								<img src="{{ asset('assets/admin/images/documentation/expression-builder-operand-subexpression-input.png') }}" alt="">
							</td>
						</tr>
					</tbody>
				</table>
				
