				<h4 id="constantes">
					1.1.1.3. Constantes
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>pi</td>
							<td>3,14159</td>
						</tr>
						<tr>
							<td>now</td>
							<td>Date du jour de la simulation</td>
						</tr>
						<tr>
							<td>today</td>
							<td>Alias de now</td>
						</tr>
						<tr>
							<td>true</td>
							<td>Booléen 'vrai'</td>
						</tr>
						<tr>
							<td>false</td>
							<td>Booléen 'faux'</td>
						</tr>
					</tbody>
				</table>
				
