				<h2 id="composition-d-une-expression">
					1.1. Composition d'une expression
				</h2>
				<p>
					Pour composer une expression, cliquez sur la boite à liste 
					<img src="{{ asset('assets/admin/images/documentation/expression-builder-operand-select.png') }}" alt="">
				</p>
				<p>Vous pouvez ainsi sélectionner les éléments constitutifs d'un opérande :</p>
				<ul>
					<li>valeur littérale</li>
					<li>constante</li>
					<li>donnée (champ)</li>
					<li>fonction</li>
					<li>sous-expression</li>
				</ul>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-operands1.png') }}" alt="">
					<img src="{{ asset('assets/admin/images/documentation/fr/expression-builder-operands2.png') }}" alt="">
				</p>
				<p>Ces éléments sont décrits ci-après :</p>
				{% include 'admin/pages/documentation/fr/expression-builder-operandes.html.twig' %}
				{% include 'admin/pages/documentation/fr/expression-builder-operateurs.html.twig' %}
				
