				<h1 id="simulateurs">
								1. Simulateurs
							</h1>
							Un simulateur de calcul est un service en ligne mis à la disposition d’un utilisateur pour lui permettre de calculer des résultats (taxes, prestations sociales, …) correspondant à sa situation particulière.
							<br>
							<br>
							Les résultats sont calculés en fonction des données fournies par l’internaute, de données de références (ex : montant d’une taxe) et de règles qui correspondent à la législation en vigueur dans le domaine de la simulation.
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}"> <span>Consulter la documentation</span>  <span class="fas fa-book"></span> </a>
						
