				<h1 id="utilisateurs">
								4. Utilisateurs
							</h1>
							G6K dispose d'une interface vous permettant des gérer les comptes utilisateurs qui sont autorisés à accéder soit au module d'administration de G6K, soit aux simulateurs à accès protégés.
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'users-management' }) }}"> <span>Consulter la documentation</span>  <span class="fas fa-book"></span> </a>
						
