				<h1 id="source-de-donnees">
								2. Source de données
							</h1>
							Une source de données permet à un simulateur d'interroger les valeurs de référence du domaine de la simulation pour réaliser la simulation.
							<br>
							<br>
							La source de données peut être interne, c'est-à-dire que les valeurs sont stockées dans une base de données gérée par G6K, ou externe, c'est-à-dire que les valeurs sont fournies soit via des requêtes sur une bases de données distante, soit via un web service (API).
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'datasources-management' }) }}"> <span>Consulter la documentation</span>  <span class="fas fa-book"></span> </a>
						
