				<h1 id="c-est-quoi">
					1. C’est quoi ?
				</h1>
				<p>G6K est un outil qui permet de créer des simulateurs de calcul sans codage informatique et de les mettre en ligne. Il dispose pour cela d’un moteur de simulation et d’un module d’administration.</p>
				<p>Un simulateur de calcul est un service en ligne mis à la disposition d’un utilisateur pour lui permettre de calculer des résultats (taxes, prestations sociales, …) correspondant à sa situation particulière. Les résultats sont calculés en fonction des données fournies par l’utilisateur, de données de références (ex : montant d’une taxe) et de règles « métier » qui traduisent la législation en vigueur dans le domaine de la simulation.</p>
				
