<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Moteur de simulation de calcul
		</h1>
		<p class="lead">En savoir plus ...</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
<a class="nav-link ml-1" href="#c-est-quoi">1. C’est quoi ?</a>
<a class="nav-link ml-1" href="#comment-ca-marche">2. Comment ça marche ?</a>
<a class="nav-link ml-1" href="#fonctions-du-moteur-de-simulation">3. Fonctions du moteur de simulation</a>
<a class="nav-link ml-1" href="#fonctions-principales-d-administration">4. Fonctions principales d’administration</a>
</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/fr/learn-more-c-est-quoi.html.twig' %}
				{% include 'admin/pages/documentation/fr/learn-more-comment-ca-marche.html.twig' %}
				{% include 'admin/pages/documentation/fr/learn-more-fonctions-du-moteur-de-simulation.html.twig' %}
				{% include 'admin/pages/documentation/fr/learn-more-fonctions-principales-d-administration.html.twig' %}
				</div>
		</div>
	</div>
</div>
