				<h1 id="fonctions-du-moteur-de-simulation">
					3. Fonctions du moteur de simulation
				</h1>
				<ul>
					<li>Analyse du fichier XML de définition</li>
					<li>Chargement et alimentation des gabarits (templates)</li>
					<li>Affichage des formulaires de saisie</li>
					<li>Contrôle des données saisies</li>
					<li>Accès aux données de référence</li>
					<li>Évaluation des formules de calcul</li>
					<li>Mise en œuvre des règles « métier »</li>
					<li>Gestion des étapes de simulation (étapes d’acquisition des informations, étape de restitution des résultats)</li>
				</ul>
				
