				<h1 id="fonctions-principales-d-administration">
					4. Fonctions principales d’administration
				</h1>
				<ul>
					<li>
						Définition des données: 
						<ul>
							<li>saisies par l’utilisateur</li>
							<li>intermédiaires</li>
							<li>dans source de données</li>
							<li>de résultat</li>
						</ul>
					</li>
					<li>Définition des calculs</li>
					<li>Définition des règles de gestion (business rules)</li>
					<li>Définition des étapes de calcul</li>
					<li>Définition des textes (champs, aide, notes, …)</li>
					<li>Définition des sources de données internes et externes</li>
					<li>Définition des étapes de simulation</li>
					<li>Mise à jour des « données de référence » internes</li>
				</ul>
			
