				<h1 id="comment-ca-marche">
					2. Comment ça marche ?
				</h1>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/g6k-schema.png') }}" alt="">
				</p>
				<p>Un administrateur ou un contributeur définit les données à demander à l’utilisateur via des formulaires et les résultats à restituer (éventuellement en passant par des données intermédiaires de calcul).</p>
				<p>L’administrateur met en scène la simulation en définissant des étapes de simulation. Chaque étape est composée d’un formulaire permettant la saisie ou la restitution des données préalablement définies.</p>
				<p>L’administrateur définit des sources de données de référence qui peuvent être :</p>
				<ul>
					<li>externes et accessibles via des web services ou des requêtes sql;</li>
					<li>ou interne, enregistrés dans une base de données G6K.</li>
				</ul>
				<p>L’administrateur ou le contributeur définit des règles (appelées règles « métier » ou business rules – dans G6K) et des calculs à appliquer dans le domaine de la simulation.</p>
				<p>Les données, sources de données, étapes et règles de gestion sont enregistrés dans un fichier XML.</p>
				<p>G6K possède un moteur de simulation permettant de « jouer » la simulation à l’aide des définitions contenues dans le fichier XML et des sources de données.</p>
				
