				<h2 id="enregistrement-du-simulateur">
					4.6. Enregistrement du simulateur
				</h2>
				<p>
					A la fin de votre saisie, cliquer le bouton 
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-save.png') }}" alt="">
					en haut à droite de la page pour enregistrer votre travail.
				</p>
				<p>A noter que G6K, enregistre une version de « travail » qu'il sera nécessaire de « Publier » pour la mise en ligne.</p>
				
