				<h2 id="profils">
					4.5. Profils
				</h2>
				<p>Lorsque vous allez définir des profils vous prédéfinirez des données liées aux différent profils.</p>
				<p>Les profils peuvent correspondre à des types de personnes par exemple les données prédéfinies pour un professionnel diffèrent des données pré remplies d’un particulier.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-profile-add-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-profiles.png') }}" alt="">
				</p>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Titre » : Titre de vos profils.</li>
					<li>« Nom » : Nom du profil.</li>
					<li>« Libellé » : Libellé du profil.</li>
					<li>« Données » / « Ajouter » : Ajout des données à pré remplir.</li>
					<li>« Donnée » : Choix de la donnée que l’on souhaite pré remplir.</li>
					<li>« Valeur » : Valeur pré remplie.</li>
				</ol>
				
