				<h6 id="section">
					4.3.1.2.1.1. Section
				</h6>
				<p>
					La section est une sous-division d'un chapitre. C'est dans les sections que s'inscrivent les différents textes d'un bloc d'infos.
					<br>
					Le texte d'une section peut être annoté.
				</p>
				<p>Pour ajouter une section, cliquez sur le bouton « Ajouter une section » de la barre de titre du panneau « Chapitre » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-chapter-add-section-button.png') }}" alt="">
				</p>
				<p>Le formulaire de saisie d'une section s'affiche :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-section-add.png') }}" alt="">
				</p>
				<p><strong>Attributs optionnels :</strong></p>
				<ol>
					<li>« Nom » : Nom de la section sans espaces ni caractères spéciaux ou accentués.</li>
					<li>« Libellé » : Libellé de la section. Il s'affiche dans la zone <span class="bs-docs-number-circle">11</span> de la page.</li>
				</ol>
				<p>
					Entrez le texte enrichi de la section dans le champ « Contenu » du formulaire.
					<br>
					Ce contenu s'affichera dans la zone <span class="bs-docs-number-circle">12</span> de la page.
				</p>
				<p>
					Optionnellement, des annotations du texte peuvent être ajoutées dans le champ « Annotations ».
					<br>
					Ces annotations s'afficheront dans la zone <span class="bs-docs-number-circle">13</span> de la page.
				</p>
				
