				<h3 id="panneaux">
					4.3.1. Panneaux
				</h3>
				<p>Les panneaux composent les étapes et sont eux-mêmes constitués de groupes de champs. S'il y plusieurs panneaux, ils seront présentés sous forme d’onglets :</p>
				<p>Pour ajouter un panneau, cliquez sur le bouton « Ajouter » de la barre de titre du panneau « Etapes » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="">
				</p>
				<p>puis sur « Ajouter un panneau » du menu :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-panel-add.png') }}" alt="">
				</p>
				<p><strong>Attributs :</strong></p>
				<ol>
					<li>« Nom » : Nom du panneau sans espaces ni caractères spéciaux ou accentués.</li>
				</ol>
				<p>
					<strong><em>Attribut optionnel :</em></strong>
				</p>
				<ol>
					<li>« Libellé » : Titre du panneau. Il s'affiche dans la zone <span class="bs-docs-number-circle">2</span> de la page.</li>
				</ol>
				{% include 'admin/pages/documentation/fr/simulators-management-groupe-de-champs.html.twig' %}
				{% include 'admin/pages/documentation/fr/simulators-management-bloc-d-infos.html.twig' %}
				
