				<h4 id="bloc-d-infos">
					4.3.1.2. Bloc d'infos
				</h4>
				<p>
					Le bloc d'infos est un élément de la page de simulation de même niveau que le groupe de champs mais ne contient aucun champ de saisie ou de restitution.
					<br>
					Il contient des informations textuelles qui peuvent être utiles à l'utilisateur dans le déroulement de la simulation.
					<br>
					Il peut être contextualisé en le montrant/cachant totalement ou partiellement à l'aide des actions des règles métier en fonction de certaines conditions.
				</p>
				<p>Les blocs d'infos sont composés d'un ou plusieurs chapitres eux-mêmes composés d'une ou plusieurs sections.</p>
				<p>Pour ajouter un bloc d'infos, cliquez sur le bouton « Ajouter » de la barre de titre du panneau « Panneau » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-panel-add-menu.png') }}" alt="">
				</p>
				<p>puis sur « Ajouter un bloc d'info » du menu :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-blockinfo-add.png') }}" alt="">
				</p>
				<p><strong>Attributs optionnels :</strong></p>
				<ol>
					<li>« Nom » : Nom du bloc d'infos sans espaces ni caractères spéciaux ou accentués.</li>
					<li>« Libellé » : Libellé du bloc d'infos. Il s'affiche dans la zone <span class="bs-docs-number-circle">9</span> de la page.</li>
				</ol>
				{% include 'admin/pages/documentation/fr/simulators-management-chapitre.html.twig' %}
				
