				<h3 id="notes-de-bas-de-page">
					4.3.2. Notes de bas de page
				</h3>
				<p>Une note de bas de page est une note contextualisée (pouvant être montrée ou cachée par les règles métier) se situant dans la partie basse du formulaire (zone <span class="bs-docs-number-circle">14</span> de la page) d'une étape de simulation.</p>
				<p>Les notes de bas de page peuvent être placées, à votre convenance, avant ou après les boutons d'action.</p>
				<p>Pour ajouter des notes de bas de page, cliquez sur le bouton « Ajouter » de la barre de titre du panneau « Etapes » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="">
				</p>
				<p>puis sur « Ajouter des notes de bas de page » du menu :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-footnotes-add.png') }}" alt="">
				</p>
				<p>Choisissez leurs emplacements (avant ou après les boutons d'action) puis validez.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-footnotes-display.png') }}" alt="">
				</p>
				<p>Ensuite, cliquez sur le bouton « Ajouter une note de bas de page » de la barre de titre:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-footnote-add.png') }}" alt="">
				</p>
				<p>Saisissez la note puis validez.</p>
				<p>Le nombre de notes que vous pouvez ajouter n'est pas limité.</p>
				
