<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Guide d'administration
		</h1>
		<p class="lead">Gestion des simulateurs</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#simulateurs">1. Simulateurs</a>
<a class="nav-link ml-1" href="#avant-de-commencer">2. Avant de commencer</a>
<a class="nav-link ml-1" href="#creation-d-une-source-de-donnees">3. Création d’une source de données</a>
<a class="nav-link ml-1" href="#creation-d-un-simulateur">4. Création d’un simulateur</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#sources-de-donnees-utilisees">4.1. Sources de données utilisées</a>

						<nav class="nav nav-pills flex-column">
<a class="nav-link ml-3" href="#requete-simple">4.1.1. Requête simple</a>
<a class="nav-link ml-3" href="#requete-complexe">4.1.2. Requête complexe</a>
</nav>
						<a class="nav-link ml-2" href="#donnees">4.2. Données</a>
<a class="nav-link ml-2" href="#etapes">4.3. Étapes</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#panneaux">4.3.1. Panneaux</a>

							<nav class="nav nav-pills flex-column">
								<a class="nav-link ml-4" href="#groupe-de-champs">4.3.1.1. Groupe de champs</a>

								<nav class="nav nav-pills flex-column">
<a class="nav-link ml-5" href="#champs">4.3.1.1.1. Champs</a>
</nav>
								<a class="nav-link ml-4" href="#bloc-d-infos">4.3.1.2. Bloc d'infos</a>

								<nav class="nav nav-pills flex-column">
									<a class="nav-link ml-5" href="#chapitre">4.3.1.2.1. Chapitre</a>

									<nav class="nav nav-pills flex-column">
<a class="nav-link ml-6" href="#section">4.3.1.2.1.1. Section</a>
</nav>
								</nav>
							</nav>
							<a class="nav-link ml-3" href="#notes-de-bas-de-page">4.3.2. Notes de bas de page</a>
<a class="nav-link ml-3" href="#boutons-d-actions">4.3.3. Boutons d’actions</a>

						</nav>
						<a class="nav-link ml-2" href="#regles-metier">4.4. Règles métier</a>
<a class="nav-link ml-2" href="#profils">4.5. Profils</a>
<a class="nav-link ml-2" href="#enregistrement-du-simulateur">4.6. Enregistrement du simulateur</a>
<a class="nav-link ml-2" href="#deploiement-sur-des-serveurs-frontaux">4.7. Déploiement sur des serveurs frontaux</a>

					</nav>
				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/fr/simulators-management-simulateurs.html.twig' %}
				{% include 'admin/pages/documentation/fr/simulators-management-avant-de-commencer.html.twig' %}
				{% include 'admin/pages/documentation/fr/simulators-management-creation-d-une-source-de-donnees.html.twig' %}
				{% include 'admin/pages/documentation/fr/simulators-management-creation-d-un-simulateur.html.twig' %}
				</div>
		</div>
	</div>
</div>
