				<h1 id="usage">
					2. Usage
				</h1>
				<p>Ce composant est utilisé dans le volet « Simulateurs » du module d'administration. Cf. la section <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}#sources-de-donnees-utilisees">Sources de données utilisées</a> du guide de gestion des simulateurs.</p>
				<p>Dans le formulaire de définition de la source de données que vous aurez ouvert, seule la partie concernant les requêtes simples ci-dessous est traitée dans ce document :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/query-builder-form-empty.png') }}" alt="">
				</p>
				{% include 'admin/pages/documentation/fr/source-query-builder-selection-de-la-table.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-selection-des-colonnes.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-composition-du-filtre.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-tri-des-lignes-de-resultat.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-limiter-le-nombre-de-lignes-de-resultat.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-definition-des-parametres.html.twig' %}
				
