				<h2 id="selection-de-la-table">
					2.1. Sélection de la table
				</h2>
				<p>Dans la boite à liste du champ « Table », seules les tables de la source de données choisies dans le volet « Simulateurs » vous sont proposées. Sélectionnez la table sur laquelle porte la requête.</p>
				
