				<h1 id="fonctions">
					3. Fonctions
				</h1>
				{% include 'admin/pages/documentation/fr/source-query-builder-sqlite.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-mysql.html.twig' %}
				{% include 'admin/pages/documentation/fr/source-query-builder-postgresql.html.twig' %}
				
