				<h1 id="vue-d-ensemble">
					1. Vue d'ensemble
				</h1>
				<p>Ce composant UI est un assistant visuel permettant de composer des requêtes simples d'accès aux bases de données des sources de données de référence.</p>
				<p>Une requête simple est une requête qui ne porte que sur une seule table et qui ne comporte pas de requêtes imbriquées.</p>
				<p>Le résultat de l'exécution de la requête est un ensemble de lignes de résultats que l'on peut filtrer de deux manières :</p>
				<ul>
					<li>soit en ne gardant que les lignes qui respecte une certaine condition</li>
					<li>soit en ne gardant que p lignes à partir de la ligne numéro q (les lignes sont numérotés de 0 à n)</li>
				</ul>
				<p>Les conditions sont des expressions que l'on compose avec le nom des colonnes</p>
				<p>Les lignes de résultats ne comportent que les colonnes que l'on a sélectionnées et peuvent être triées dans un ordre déterminé.</p>
				
