				<h2 id="tri-des-lignes-de-resultat">
					2.4. Tri des lignes de résultat
				</h2>
				<p>Vous pouvez trier les lignes de résultats selon plusieurs critères (clés de tri), en ordre croissant ou décroissant.</p>
				<p>Les critères peuvent être de noms de colonnes ou des expressions.</p>
				<p>Pour ajouter un critère, cliquez dans le champ « Trié par » ou sur le signe «   » à droite du champ :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/query-builder-orderby-add.png') }}" alt="">
				</p>
				<p>Cliquez sur la boite à liste pour choisir un champ ou composer une expression.</p>
				<p>Pour changer l'ordre de tri sur ce critère, cliquez sur « en ordre croissant ».</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/query-builder-orderby-asc-desc.png') }}" alt="">
				</p>
				<p>Vous avez terminé la saisie d'un critère, vous pouvez en saisir d'autres en cliquant dans l'espace vide du champ ou sur le signe «   »</p>
				<p>Pour supprimer un critère, cliquez sur le « X » à gauche du critère.</p>
				
