				<h2 id="limiter-le-nombre-de-lignes-de-resultat">
					2.5. Limiter le nombre de lignes de résultat
				</h2>
				<p>
					Une autre façon de filtrer les résultats de la requête est de limiter le nombre de lignes retournées de façon inconditionnelle.
					<br>
					Les champs « Nombre de résultats » et « à partir de » du formulaire permettent de définir une "fenêtre" de lignes sur l'ensemble des lignes de résultats.
				</p>
				<p>
					« Nombre de résultats » : Nombre lignes de résultats que vous souhaitez récupérer. « 0 » signifie : toutes les lignes.
					<br>
					« à partir de » : Numéro de la première ligne que vous souhaitez récupérer. Les lignes sont numérotées de 0 à n.
				</p>
				
