				<h2 id="sqlite">
					3.1. SQLite
				</h2>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Fonction</th>
							<th>Description</th>
							<th align="center">Nombre d'arguments</th>
							<th>Type retourné</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>abs</td>
							<td>renvoie la valeur absolue de l'argument numérique</td>
							<td align="center">1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>ifnull</td>
							<td>renvoie une copie de son premier argument non-NULL, ou NULL si les deux arguments sont NULL</td>
							<td align="center">2</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>instr</td>
							<td>Trouve la sous-chaîne (argument 1) dans la chaîne (argument 2) et renvoie un entier indiquant la position de la première occurrence de la sous-chaîne.</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>length</td>
							<td>renvoie la longueur de la chaîne passée en argument</td>
							<td align="center">1</td>
							<td>entier</td>
						</tr>
						<tr>
							<td>like</td>
							<td>renvoie true si l'argument 2 correspond au motif fournit dans l'argument 1, false sinon</td>
							<td align="center">2</td>
							<td>booléen</td>
						</tr>
						<tr>
							<td>lower</td>
							<td>convertit la chaîne en lettres minuscules</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>ltrim</td>
							<td>renvoie une chaîne dont les caractères blancs au début de la chaîne fournie en argument sont supprimés</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>max</td>
							<td>renvoie la plus grande des valeurs fournies en arguments</td>
							<td align="center">-1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>min</td>
							<td>renvoie la plus petite des valeurs fournies en arguments</td>
							<td align="center">-1</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>nullif</td>
							<td>renvoie NULL si le premier argument est égal au second argument.</td>
							<td align="center">2</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>quote</td>
							<td>renvoie une chaîne qui est la valeur de son argument sous une forme appropriée pour l'inclusion dans une instruction SQL. Les chaînes sont entourées de guillemets simples avec des échappements sur des guillemets intérieurs au besoin.</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>random</td>
							<td>renvoie un entier pseudo-aléatoire entre -9223372036854775808 et 9223372036854775807</td>
							<td align="center">0</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>replace</td>
							<td>renvoie une copie de la chaîne en argument 1 avec chaque instance de la sous-chaîne en argument 2 remplacée par la sous-chaîne en argument 3</td>
							<td align="center">3</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>round</td>
							<td>arrondi une valeur numérique à la précision spécifiée</td>
							<td align="center">2</td>
							<td>nombre</td>
						</tr>
						<tr>
							<td>rtrim</td>
							<td>renvoie une chaîne dont les caractères blancs de la fin de la chaîne fournie en argument sont supprimés</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>soundex</td>
							<td>renvoie une chaîne qui est le codage soundex de la chaîne passée en argument</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>trim</td>
							<td>renvoie une chaîne dont les caractères blancs au début et à la fin de la chaîne fournie en argument sont supprimés</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>upper</td>
							<td>convertit la chaîne en lettres majuscules</td>
							<td align="center">1</td>
							<td>texte</td>
						</tr>
						<tr>
							<td>strftime</td>
							<td>Formate la date en fonction de la chaîne de format spécifiée.</td>
							<td align="center">2</td>
							<td>texte</td>
						</tr>
					</tbody>
				</table>
				
