				<h2 id="modification-d-un-utilisateur">
					2.2. Modification d’un utilisateur
				</h2>
				<p>
					Pour modifier un compte utilisateur, cliquez sur le bouton : 
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-edit-button.png') }}" alt="">
					<br>
					La ligne du compte devient éditable, vous pouvez ainsi effectuer vos modifications :
				</p>
				<ul>
					<li>activer/désactiver le compte;</li>
					<li>modifier l’identifiant, l’email, le mot de passe;</li>
					<li>ajouter ou supprimer des rôles.</li>
				</ul>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-edit.png') }}" alt="">
				</p>
				<p>Pour supprimer un rôle, cliquez sur la croix à gauche du nom du rôle.</p>
				<p>Lorsque vous cliquez dans le champ « Rôles », une liste déroulante s'ouvre pour sélectionner un rôle.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-create-roles.png') }}" alt="">
				</p>
				<p>
					Pour sauvegarder vos changements, cliquez sur le bouton : 
					<img src="{{ asset('assets/admin/images/documentation/fr/users-management-user-edit-save-button.png') }}" alt="">
				</p>
				
