				<h1 id="comptes-utilisateurs">
					1. Comptes utilisateurs
				</h1>
				<p>Cette interface vous permet des gérer les comptes utilisateurs qui sont autorisés à accéder soit au module d'administration de G6K, soit aux simulateurs à accès protégés.</p>
				<p><strong>A noter que le module d'administration ne permet pas de protéger l'accès à un simulateur, il faut en faire la demande à l'administrateur système qui modifiera la configuration de G6K en conséquence.</strong></p>
				<p>Tous les comptes utilisateurs n'ont pas accès aux mêmes fonctions d'administration.</p>
				<p>L'accès aux fonctions se fait selon des « rôles » qui respectent la hiérarchie suivante :</p>
				<ul>
					<li>« Utilisateur » : accès aux simulateurs protégès nécessitant une authentification.</li>
					<li>« Contributeur » : fonction du rôle « utilisateur »   accès aux tutoriels, mis à jour des données et donc accès au menu « Sources de données ».</li>
					<li>« Manager » : fonctions du rôle « contributeur »   gestion (création/modification) des simulateurs.</li>
					<li>« Admin » : fonctions du rôle « manager »   gestion des vues et du cache.</li>
					<li>« Super admin » : fonctions du rôle « admin »   gestion des utilisateurs.</li>
				</ul>
				<p>Ainsi tout manager est contributeur, tout admin est manager et ainsi de suite ...</p>
				
