				<h2 id="supprimer-une-vue">
					4.5. Supprimer une vue
				</h2>
				<p>
					Si vous souhaitez supprimer une vue, cliquez sur le bouton « Supprimer vue ».
					<br>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-delete-button.png') }}" alt="">
				</p>
				<p>Un message de confirmation apparaîtra, si vous êtes certain de supprimer la vue, cliquez sur « OK ».</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-delete-confirm.png') }}" alt="">
				</p>
				<p>La vue sera supprimée et ne sera plus affichée dans le menu de « Gestion des vues » :</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-deleted.png') }}" alt="">
				</p>
				<div class="alert alert-warning" role="alert">
ATTENTION: Il faudra modifier tous les simulateurs qui utilisaient cette vue en tant que « Vue par défaut ».
</div>
				
