				<h2 id="supprimer-un-element">
					4.4. Supprimer un élément
				</h2>
				<p>
					Pour supprimer un dossier, un sous-dossier ou un fichier, cliquez sur le bouton "Supprimer cet élément » : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-delete-button.png') }}" alt="">
					<br>
					Un message de confirmation apparaîtra, si vous êtes certain de supprimer l’élément, appuyez sur « OK ».
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-file-delete-confirm.png') }}" alt="">
				</p>
				<p>La page va alors être rechargée et l’élément que vous avez supprimé ne sera plus affiché. Si vous supprimez un dossier qui contient d’autres éléments tout le contenu sera effacé.</p>
				<div class="alert alert-warning" role="alert">
ATTENTION: Certains gabarits sont cités dans la définition des étapes (Cf. attribut « Gabarit d'affichage de l'étape ») dans la documentation <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Création d’un simulateur</a>, si vous le supprimez, pensez à modifier l'étape du simulateur concerné.
</div>
				
