				<h1 id="qu-est-ce-qu-une-vue">
					1. Qu'est-ce qu'une vue ?
				</h1>
				<p>
					Les vues sont les modèles de pages et de styles dans lesquelles s'intégrent les simulateurs. Elles sont composées de « Gabarits » et de « Ressources multimédia ».
					<br>
					Les « Gabarits » sont des fichiers (.twig) qui structurent la page qui est affichée.
					<br>
					Les « Ressources multimédia » contiennent tous les éléments de style (fichiers CSS, JavaScript, images, polices...).
				</p>
				<p>La gestion (création, modification, suppression) des vues est réservée aux utilisateurs disposant du rôle « Manager », « Administrateur » ou « Super administrateur ».</p>
				
