				<h2 id="renommer-un-element">
					4.2. Renommer un élément
				</h2>
				<p>
					Pour renommer un élément, cliquez sur le bouton « Renommer ‘<em>élément’</em> » : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-rename-button.png') }}" alt="">
					<br>
					Un formulaire vous invitera à indiquer le nouveau nom de l’élément, cliquez sur le bouton « Soumettre » pour appliquer le renommage.
				</p>
				<p class="figure-legend">Figure 5 - Formulaire pour renommer l'élément et affichage de l'élément renommé</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-folder-rename.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-folder-renamed.png') }}" alt="">
				</p>
				<div class="alert alert-warning" role="alert">
ATTENTION: Certains gabarits sont cités dans la définition des étapes (Cf. attribut « Gabarit d'affichage de l'étape ») dans la documentation <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Création d’un simulateur</a>, si vous le renommez, pensez à modifier l'étape du simulateur concerné.
</div>
				
