				<h1 id="exporter-une-vue">
					3. Exporter une vue
				</h1>
				<p>
					Si vous voulez exporter les « Gabarits » ou les « Ressources multimédia », sélectionnez l'onglet correspondant puis cliquez sur le bouton 
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-view-export-button.png') }}" alt="">
					.
G6K compose alors un fichier compressé qu'il vous propose en téléchargement.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-export-templates.png') }}" alt="">
					<img src="{{ asset('assets/admin/images/documentation/views-management-export-assets.png') }}" alt="">
				</p>
				<p>Le suffixe « -templates » pour les gabarits twig et « -assets » pour les ressources multimédia.</p>
				<p>L'export (recommandé) vous permet d'archiver vos vues et éventuellement de les ré-importer dans un nouveau système si vous en changez.</p>
				
