				<h1 id="gestion-d-une-vue">
					4. Gestion d’une vue
				</h1>
				<p>Il y a plusieurs boutons qui permettent de gérer les « Gabarits » et les « Ressources multimédia », leurs fonctions sont définies ci-dessous.</p>
				{% include 'admin/pages/documentation/fr/views-management-ajout-d-un-sous-dossier-ou-d-un-fichier-a-un-dossier-existant.html.twig' %}
				{% include 'admin/pages/documentation/fr/views-management-renommer-un-element.html.twig' %}
				{% include 'admin/pages/documentation/fr/views-management-mettre-a-jour-un-fichier.html.twig' %}
				{% include 'admin/pages/documentation/fr/views-management-supprimer-un-element.html.twig' %}
				{% include 'admin/pages/documentation/fr/views-management-supprimer-une-vue.html.twig' %}
				
