				<h2 id="mettre-a-jour-un-fichier">
					4.3. Mettre à jour un fichier
				</h2>
				<p>
					Pour mettre à jour un fichier, cliquez sur le bouton « Mettre à jour ce fichier » : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-update-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-update-buttonbar.png') }}" alt="">
				</p>
				<p>Une zone de saisie où vous pouvez modifier le fichier s'affichera.</p>
				<p class="figure-legend">Figure 6 - Interface de modification/édition(fond blanc)</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-file-update.png') }}" alt="">
				</p>
				<p>
					Une fois vos modifications effectuées, cliquez sur le bouton « Enregistrer » pour sauvegarder le fichier.
					<br>
					Une fois l’enregistrement effectué le bouton « Enregistrer » se transformera en bouton « Modifier » et vous ne pourrez pas éditer le fichier tant que vous n’appuierez pas sur le bouton « Modifier ».
				</p>
				<p class="figure-legend">Figure 7 - Interface non éditable, modifications enregistrées (fond grisâtre)</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/fr/views-management-file-updated.png') }}" alt="">
				</p>
				
