
{#
 #  pub top
 #  729x90px 
 #}
{% macro pub_top() %}
    <div class="ads ads-top"><img src="illus/pub729x90.png" alt=""></div>
{% endmacro %}

{#
 #  pub aside
 #  300x250px 
 #}
{% macro pub_aside() %}
    <div class="ads ads-aside"><img src="illus/pub300x250.png" alt=""></div>
{% endmacro %}

