				<h6 id="numeric-operators">
					3.1.1.2.2.1. Numeric Operators
				</h6>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Operator</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>is present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is greater than</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is greater than the value of the result of the evaluation of the expression, "false" otherwise. |</td>
						</tr>
						<tr>
							<td>is greater than or equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is greater than or equal to the value of the evaluation result of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is less than</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is less than the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is less than or equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is less than or equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>contains</td>
							<td>Applies only to list operands: The evaluation returns "true" if the value of the 'list' type data associated with the operand contains the value of the result of the evaluation of the expression , "False" otherwise.</td>
						</tr>
						<tr>
							<td>does not contain</td>
							<td>Applies only to list operands: The evaluation returns "true" if the value of the list data associated with the operand does not contain the value of the result of the evaluation of the list expression, "false" otherwise.</td>
						</tr>
					</tbody>
				</table>
				
