				<h4 id="choice-operators">
					3.1.1.4. Choice operators
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Operator</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>is present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
					</tbody>
				</table>
				
