				<h4 id="date-operators">
					3.1.1.3. Date operators
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Operator</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>is present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>corresponds to</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is equal to the value of the evaluation result of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>does not corresponds to</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is after</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is later than the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not before</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is not prior to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is before</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is prior to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not after</td>
							<td>The evaluation returns "true" if the value of the date associated with the operand is not later than the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
					</tbody>
				</table>
				
