				<h4 id="boolean-operators">
					3.1.1.5. Boolean operators
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Operator</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>is present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is true</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is equal to 'true', 'false' otherwise.</td>
						</tr>
						<tr>
							<td>is false</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is equal to 'false', 'false' otherwise.</td>
						</tr>
					</tbody>
				</table>
				<p>
					The operators « is present », « is not present », « is true » and « is false » are unary operators, that is, they operate only on the operand. There is no expression on their right.
					<br>
					The other operators are binary operators.
				</p>
				
