<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Composition of business rules</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#business-rules">1. Business rules</a>
<a class="nav-link ml-1" href="#rules-composition-interface">2. Rules composition interface</a>
<a class="nav-link ml-1" href="#entering-a-rule">3. Entering a rule</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#entering-a-condition">3.1. Entering a condition</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#simple-condition">3.1.1. Simple condition</a>

							<nav class="nav nav-pills flex-column">
								<a class="nav-link ml-4" href="#selection-of-the-operand">3.1.1.1. Selection of the operand</a>
<a class="nav-link ml-4" href="#selecting-the-operator">3.1.1.2. Selecting the operator</a>

								<nav class="nav nav-pills flex-column">
									<a class="nav-link ml-5" href="#operators">3.1.1.2.1. Operators</a>
<a class="nav-link ml-5" href="#string-operators">3.1.1.2.2. String Operators</a>

									<nav class="nav nav-pills flex-column">
<a class="nav-link ml-6" href="#numeric-operators">3.1.1.2.2.1. Numeric Operators</a>
</nav>
								</nav>
								<a class="nav-link ml-4" href="#date-operators">3.1.1.3. Date operators</a>
<a class="nav-link ml-4" href="#choice-operators">3.1.1.4. Choice operators</a>
<a class="nav-link ml-4" href="#boolean-operators">3.1.1.5. Boolean operators</a>
<a class="nav-link ml-4" href="#entering-the-value-expression">3.1.1.6. Entering the value / expression</a>

							</nav>
							<a class="nav-link ml-3" href="#deleting-a-condition">3.1.2. Deleting a condition</a>

						</nav>
						<a class="nav-link ml-2" href="#entering-an-action">3.2. Entering an action</a>

						<nav class="nav nav-pills flex-column">
<a class="nav-link ml-3" href="#display-an-error-or-a-warning">3.2.1. Display an error or a warning</a>
<a class="nav-link ml-3" href="#hide-or-show-an-element-of-the-simulation-form">3.2.2. Hide or show an element of the simulation form</a>
<a class="nav-link ml-3" href="#assigning-a-value-to-a-data-attribute">3.2.3. Assigning a value to a data attribute</a>
</nav>
						<a class="nav-link ml-2" href="#deleting-an-action">3.3. Deleting an action</a>

					</nav>
					<a class="nav-link ml-1" href="#editing-a-rule">4. Editing a rule</a>
<a class="nav-link ml-1" href="#deleting-a-rule">5. Deleting a rule</a>
<a class="nav-link ml-1" href="#sorting-rules">6. Sorting rules</a>

				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/en/business-rules-business-rules.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-rules-composition-interface.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-entering-a-rule.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-editing-a-rule.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-deleting-a-rule.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-sorting-rules.html.twig' %}
				</div>
		</div>
	</div>
</div>
