				<h4 id="selecting-the-operator">
					3.1.1.2. Selecting the operator
				</h4>
				<p>Click on the second underlined item in the condition, a drop-down list appears:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/business-rules-conditions-operators.png') }}" alt="">
				</p>
				<p>The items of this list of operators depend on the data type of the operand. These operators are described below:</p>
				{% include 'admin/pages/documentation/en/business-rules-operators.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-string-operators.html.twig' %}
				
