				<h1 id="rules-composition-interface">
					2. Rules composition interface
				</h1>
				<p>The G6K interface for entering or modifying a rule is as follows:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-add.png') }}" alt="">
				</p>
				<p>To access it, click on the « Simulators » button on the menu bar:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-simulators-buttonbar.png') }}" alt="">
				</p>
				<p>Then select the simulator from the left side menu.</p>
				<p>To enter a new rule, click the « Add » button in the « Business rules » panel:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-add-button.png') }}" alt="">
				</p>
				<p>To edit a rule, unfold the « Business rules » panel and click the « Edit » button in the title bar of the rule you want to modify:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="">
				</p>
				
