				<h3 id="simple-condition">
					3.1.1. Simple condition
				</h3>
				<p>As seen at the beginning of this document, a simple condition has the following syntax:</p>
				<pre class="prettyprint">
<simple condition>: <operand><operator>[(<value> | <expression>)]
</pre>
				{% include 'admin/pages/documentation/en/business-rules-selection-of-the-operand.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-selecting-the-operator.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-date-operators.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-choice-operators.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-boolean-operators.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-entering-the-value-expression.html.twig' %}
				
