				<h1 id="sorting-rules">
					6. Sorting rules
				</h1>
				<p>
					To reorder the rules, unfold the "Business Rules" panel, click the title bar of the rule you want to move and hold down the left mouse button (the cursor 
					<img src="{{ asset('assets/admin/images/documentation/drag-cursor.png') }}" alt="">
					appears), drag the rule to the desired location.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/business-rules-rule-drag.png') }}" alt="">
				</p>
			
