				<h2 id="deleting-an-action">
					3.3. Deleting an action
				</h2>
				<p>
					To delete an action, click the 
					<img src="{{ asset('assets/admin/images/documentation/business-rules-action-delete-button.png') }}" alt="">
					button to the left of the action.
				</p>
				
