				<h5 id="string-operators">
					3.1.1.2.2. String Operators
				</h5>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Operator</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>is present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains a value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not present</td>
							<td>The evaluation returns "true" if the data associated with the operand contains no value, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is equal to the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>is not equal to</td>
							<td>The evaluation returns "true" if the value of the data associated with the operand is different from the value of the result of the evaluation of the expression, "false" otherwise.</td>
						</tr>
						<tr>
							<td>contains</td>
							<td>Applies only to list operands: The evaluation returns "true" if the value of the 'list' type data associated with the operand contains the value of the result of the evaluation of the expression , "false" otherwise.</td>
						</tr>
						<tr>
							<td>does not contain</td>
							<td>Applies only to list operands: The evaluation returns "true" if the value of the list data associated with the operand does not contain the value of the result of the evaluation of the list expression, "false" otherwise.</td>
						</tr>
					</tbody>
				</table>
				{% include 'admin/pages/documentation/en/business-rules-numeric-operators.html.twig' %}
				
