				<h1 id="deleting-a-rule">
					5. Deleting a rule
				</h1>
				<p>To delete a rule, expand the « Business rules » panel and click the « Delete » button on the title bar of the rule you want to delete:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-delete-button.png') }}" alt="">
				</p>
				<p>Then confirm the deletion:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-delete-confirm.png') }}" alt="">
				</p>
				
