				<h4 id="selection-of-the-operand">
					3.1.1.1. Selection of the operand
				</h4>
				<p>Click on the first underlined item in the condition, a drop-down list appears:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/business-rules-conditions-operands.png') }}" alt="">
				</p>
				<p>The items in this list are composed from the data you defined in the « Datas » panel.</p>
				
