				<h1 id="editing-a-rule">
					4. Editing a rule
				</h1>
				<p>To modify a rule, click on the « Edit » button of the title bar of the rule to be modified:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-edit-button.png') }}" alt="">
				</p>
				<p>The editing form for a rule is the same as the rule entry form, so refer to <a href="#entering-a-rule">Entering a rule</a> in this document.</p>
				
