				<h1 id="entering-a-rule">
					3. Entering a rule
				</h1>
				<p>The form for entering a rule consists of 4 blocks:</p>
				<ol>
					<li>the block for inputting the attributes of the rule.</li>
					<li>the input block of the triggering condition of the actions of the rule.</li>
					<li>the action input block when the condition is true.</li>
					<li>the action input block when the condition is false.</li>
				</ol>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the rule.</li>
					<li>« Label »: Label of the rule.</li>
				</ol>
				<p>The name and label appear in the title bar of the rule panel to allow you to locate it when the panel is folded. Give an explicit label to the rule.</p>
				{% include 'admin/pages/documentation/en/business-rules-entering-a-condition.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-entering-an-action.html.twig' %}
				{% include 'admin/pages/documentation/en/business-rules-deleting-an-action.html.twig' %}
				
