				<h3 id="deleting-a-condition">
					3.1.2. Deleting a condition
				</h3>
				<p>
					To remove a single or compound condition, click the 
					<img src="{{ asset('assets/admin/images/documentation/business-rules-condition-delete-button.png') }}" alt="">
					button to the right of the condition.
				</p>
				
