				<h4 id="entering-the-value-expression">
					3.1.1.6. Entering the value / expression
				</h4>
				<p>
					If the selected operator is a binary operator, a list box appears after the operator.
					<br>
					If the operand is of the "choice" type, the list box displayed is a list of possible values of the operand.
					<br>
					Otherwise the list box allows you to compose an expression:
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/business-rules-conditions-expression.png') }}" alt="">
				</p>
				<p>See <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'expression-builder' }) }}">Composition of expressions</a> for how to enter an expression.</p>
				
