				<h2 id="importing-the-data-source">
					2.5. Importing the data source
				</h2>
				<p>You can import a data source that would have been exported from another instance of G6K.</p>
				<p>Extract the 2 files from the archive on your computer.</p>
				<p>Click the « Import Datasource » button in the left sidebar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-import-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-import.png') }}" alt="">
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« JSON Schema »: Click « Browse... » (or « Choose File ») and select the .schema.json file.</li>
					<li>« JSON Data »: Click « Browse... » (or « Choose File ») and select the .json file.</li>
				</ol>
				
