				<h3 id="modify-the-structure-of-a-table">
					2.1.4. Modify the structure of a table
				</h3>
				<p>The structure of the table (its name, its label, the characteristics of its fields) can be modified within the constraints imposed by the underlying RDBMS.
Fields can be added or deleted.</p>
				<p>In the left sidebar, select the source to which the table belongs and click the table label in the top block.</p>
				<p>The table information appears, click « Edit table structure » in the title bar:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-update-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-update-confirm.png') }}" alt="">
				</p>
				<p>Confirm the action to display the change form.</p>
				<p>
					The pre-filled change form is the same as the one presented in the « Creating Tables » section at the beginning of this document.
					<br>
					Refer to this section to follow the procedure.
				</p>
				
