				<h1 id="external-data-source.">
					3. External data source.
				</h1>
				{% include 'admin/pages/documentation/en/datasources-management-remote-database.html.twig' %}
				{% include 'admin/pages/documentation/en/datasources-management-web-service.html.twig' %}
				
