				<h2 id="delete-a-data-source">
					2.4. Delete a data source
				</h2>
				<p>Click « Data sources » from the menu bar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="">
				</p>
				<p>Then click the data source you want to delete in the left sidebar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-delete-button.png') }}" alt="">
				</p>
				<p>Then click the « Drop datasource » button on the title bar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-delete-confirm.png') }}" alt="">
				</p>
				<p>Confirm the action to permanently delete the source.</p>
				<p>This operation is irreversible. If you have exported the data source (see « Export a data Source » earlier in this document), you can re-import the source by following the procedure below.</p>
				
