				<h3 id="creating-tables">
					2.1.1. Creating tables
				</h3>
				<p>After the data source is saved, the database is present but does not contain any table. To create one, click the <a href="../images/en/datasources-management-table-create-button.png"></a> button in the left side menu.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-create.png') }}" alt="">
				</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Name »: Name of the table without spaces or special or accented characters.</li>
					<li>« Label »: Title of the table.</li>
				</ol>
				<p>You can describe the table in the « Description » space provided for this purpose.</p>
				<p>The « Add Field » button allows you to add fields (columns) to the database:</p>
				<p><strong>Attributes:</strong></p>
				<ol>
					<li>« Field »: Name of the field without spaces or special characters or accented.</li>
					<li>« Type »: Type of field.</li>
					<li>« Not null »: If the data contained in this field is mandatory, select « Yes » otherwise select « No ».</li>
					<li>« Label »: Label of the field.</li>
				</ol>
				<p>Be sure to add all the required fields before saving.</p>
				<p>If you add a field after saving, you will no longer be able to select « Yes » for the « Not Null » attribute. It is a constraint linked to the RDBMS.</p>
				<p>The procedure is the same to create another table.</p>
				
