				<h3 id="importing-data-into-tables">
					2.1.3. Importing data into tables
				</h3>
				<p>
					Another way to fill your table is to import data in .csv or .txt format from an Excel file.
					<br>
					If you choose to import data, click the « Import Data » button in the title bar.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-import-button.png') }}" alt="">
				</p>
				<p>
					The message « Are you sure you want to import data into the table 'Label of the selected table'? appears, press « OK » to confirm.
					<br>
					The following screen appears:
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-import.png') }}" alt="">
				</p>
				<p>In this form, once you have selected the « Text file » from the hard drive of your computer, the « Separator » and the « Delimiter » most appropriate to the format of the file (according to its extension: .csv or .txt) will be proposed to you.</p>
				<p>If in your file you have a title line with the column names, make sure that you have named each column with the name of the corresponding field, not the label. You should also verify that the values assigned to the fields match their types (for example, the field « data_1 » contains a date value).</p>
				<p>If you chose not to put a title line in your file, uncheck the box next to « Column names in first line? ». In this case, the columns must be presented in the order in which the fields in the table are declared.</p>
				<p>Example .csv (DOS or semicolon when recording):</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-import-csv.png') }}" alt="">
				</p>
				<p>Example .txt (Text Tab separator when recording):</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-import-txt.png') }}" alt="">
				</p>
				
