				<h3 id="delete-a-table">
					2.1.5. Delete a table
				</h3>
				<p>In the left sidebar, select the source to which the table belongs and click the table label in the top block.</p>
				<p>The information in the table appears, click « Delete » in the title bar:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-delete-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-table-delete-confirm.png') }}" alt="">
				</p>
				<p>Confirm the action to permanently delete the table. This operation is irreversible.</p>
				
