				<h1 id="internal-data-source.">
					2. Internal data source.
				</h1>
				{% include 'admin/pages/documentation/en/datasources-management-creating-the-data-source.html.twig' %}
				{% include 'admin/pages/documentation/en/datasources-management-export-a-data-source.html.twig' %}
				{% include 'admin/pages/documentation/en/datasources-management-edit-a-data-source.html.twig' %}
				{% include 'admin/pages/documentation/en/datasources-management-delete-a-data-source.html.twig' %}
				{% include 'admin/pages/documentation/en/datasources-management-importing-the-data-source.html.twig' %}
				
