				<h2 id="edit-a-data-source">
					2.3. Edit a data source
				</h2>
				<p>Click « Data sources » from the menu bar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-datasources-buttonbar.png') }}" alt="">
				</p>
				<p>Then click the data source you want to edit in the left sidebar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-update-button.png') }}" alt="">
				</p>
				<p>Then click the « Edit datasource » button in the title bar.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-update-confirm.png') }}" alt="">
				</p>
				<p>Confirm the action to display the change form.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/datasources-management-update.png') }}" alt="">
				</p>
				<p>
					The pre-filled form is the same as the one presented in the « Creating the data Source » section at the beginning of this document.
					<br>
					Refer to this section to follow the procedure.
				</p>
				
