				<h2 id="example-of-expression">
					1.2. Example of expression
				</h2>
				<p>In the demo simulator provided with G6K for the calculation of maintenance allowance, the "Amount per child" data is calculated with the following expression:</p>
				<p><code>max(0, round((Debtor's income - Lump amount of the French RSA) * Alimony rate / 100))</code></p>
				<p>In this expression « Debtor's income », « Lump amount of the French RSA » and « Alimony rate » are fields (data), « max » and « round » are functions, « 0 » and « 100 » are literal values, « - », « * » and « / » are operators.</p>
			
