				<h4 id="constants">
					1.1.1.3. Constants
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>pi</td>
							<td>3,14159</td>
						</tr>
						<tr>
							<td>now</td>
							<td>Date of simulation day</td>
						</tr>
						<tr>
							<td>today</td>
							<td>Alias ​​from now</td>
						</tr>
						<tr>
							<td>true</td>
							<td>Boolean 'true'</td>
						</tr>
						<tr>
							<td>false</td>
							<td>Boolean 'false'</td>
						</tr>
					</tbody>
				</table>
				
