<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Composition of expressions</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#expressions">1. Expressions</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#composition-of-an-expression">1.1. Composition of an expression</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#operands">1.1.1. Operands</a>

							<nav class="nav nav-pills flex-column">
<a class="nav-link ml-4" href="#miscellaneous">1.1.1.1. Miscellaneous</a>
<a class="nav-link ml-4" href="#fields">1.1.1.2. Fields</a>
<a class="nav-link ml-4" href="#constants">1.1.1.3. Constants</a>
<a class="nav-link ml-4" href="#functions">1.1.1.4. Functions</a>
</nav>
							<a class="nav-link ml-3" href="#operators">1.1.2. Operators</a>

						</nav>
						<a class="nav-link ml-2" href="#example-of-expression">1.2. Example of expression</a>

					</nav>
				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/en/expression-builder-expressions.html.twig' %}
				</div>
		</div>
	</div>
</div>
