				<h4 id="fields">
					1.1.1.2. Fields
				</h4>
				<p>The list of fields is made up of the labels of the data you have defined ("Datas" panel).</p>
				<p>To insert a field into the expression, select it from the list.</p>
				
