				<h2 id="composition-of-an-expression">
					1.1. Composition of an expression
				</h2>
				<p>
					To compose an expression, click on the list box 
					<img src="{{ asset('assets/admin/images/documentation/expression-builder-operand-select.png') }}" alt="">
				</p>
				<p>So, you can select the elements that make up an operand:</p>
				<ul>
					<li>literal value</li>
					<li>constant</li>
					<li>data (field)</li>
					<li>function</li>
					<li>nested expression</li>
				</ul>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/expression-builder-operands1.png') }}" alt="">
					<img src="{{ asset('assets/admin/images/documentation/en/expression-builder-operands2.png') }}" alt="">
				</p>
				<p>These elements are described below:</p>
				{% include 'admin/pages/documentation/en/expression-builder-operands.html.twig' %}
				{% include 'admin/pages/documentation/en/expression-builder-operators.html.twig' %}
				
