				<h4 id="miscellaneous">
					1.1.1.1. Miscellaneous
				</h4>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Literal</td>
							<td>
								Lets you enters a literal value. After selecting this item, the input field appears: 
								<img src="{{ asset('assets/admin/images/documentation/en/expression-builder-operand-constant-input.png') }}" alt="">
								. Enter the value and press the "Enter" key. The word « Literal » is replaced by the value entered.
							</td>
						</tr>
						<tr>
							<td>Nested expression</td>
							<td>
								Lets you put part of the expression in brackets. After selecting this element, the list box is enclosed in parentheses: 
								<img src="{{ asset('assets/admin/images/documentation/expression-builder-operand-subexpression-input.png') }}" alt="">
							</td>
						</tr>
					</tbody>
				</table>
				
