				<h3 id="operators">
					1.1.2. Operators
				</h3>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/expression-builder-operators.png') }}" alt="">
				</p>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th align="center">Symbol</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="center"> </td>
							<td>Addition</td>
						</tr>
						<tr>
							<td align="center">-</td>
							<td>Subtraction</td>
						</tr>
						<tr>
							<td align="center">*</td>
							<td>Multiplication</td>
						</tr>
						<tr>
							<td align="center">/</td>
							<td>Division</td>
						</tr>
						<tr>
							<td align="center">%</td>
							<td>Rest of the entire division</td>
						</tr>
						<tr>
							<td align="center">&</td>
							<td>Bit-to-bit operator 'AND'</td>
						</tr>
						<tr>
							<td align="center">|</td>
							<td>Bit-to-bit operator 'OR'</td>
						</tr>
					</tbody>
				</table>
				
