				<h1 id="views">
								3. Views
							</h1>
							Views are design elements of pages and styles in which the simulators are integrated.
							<br>
							They are composed of « Templates » and « Assets ».
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'views-management' }) }}"> <span>View the documentation</span>  <span class="fas fa-book"></span> </a>
						
