				<h1 id="users">
								4. Users
							</h1>
							G6K has an interface allowing you to manage the user accounts that are authorized to access either the G6K administration module or the protected access simulators.
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'users-management' }) }}"> <span>View the documentation</span>  <span class="fas fa-book"></span> </a>
						
