				<h1 id="data-sources">
								2. Data sources
							</h1>
							A data source allows a simulator to query the simulation field reference values ​​to perform the simulation.
							<br>
							<br>
							The data source can be internal, i.e. the values ​​are stored in a database managed by G6K, or external, i.e. the values ​​are supplied either via queries on a remote database or via a web service (API).
							<br>
							<br>
							<a href="{{ path('eureka_g6k_admin_documentation', {'document': 'datasources-management' }) }}"> <span>View the documentation</span>  <span class="fas fa-book"></span> </a>
						
