				<h1 id="features-of-the-simulation-engine">
					3. Features of the simulation engine
				</h1>
				<ul>
					<li>Analysis of the Definition XML file</li>
					<li>Loading and feeding templates</li>
					<li>Displaying Input Forms</li>
					<li>Control of data entered</li>
					<li>Access to baseline data</li>
					<li>Evaluation of calculation formulas</li>
					<li>Implementation of business rules</li>
					<li>Management of the simulation stages (information acquisition steps, the results restitution step)</li>
				</ul>
				
