				<h1 id="what-is-it">
					1. What is it ?
				</h1>
				<p>G6K is a tool that enables the creation and online publishing of calculation simulators without coding. It has a simulation engine and an administration module.</p>
				<p>A calculation simulator is an online service made available to a user to enable them to calculate the results (taxes, social benefits, etc.) corresponding to their particular situation. The results are calculated on the basis of data supplied by the user, reference data (eg amount of a tax) and business rules reflecting the current legislation in the field of simulation.</p>
				
