				<h1 id="main-functions-of-the-administration-module">
					4. Main functions of the administration module
				</h1>
				<ul>
					<li>
						Data definition: 
						<ul>
							<li>entered by the user</li>
							<li>intermediate</li>
							<li>in data source</li>
							<li>result</li>
						</ul>
					</li>
					<li>Definition of calculations</li>
					<li>Definition of business rules</li>
					<li>Definition of texts (fields, help, notes ...)</li>
					<li>Definition of internal and external data sources</li>
					<li>Definition of simulation steps</li>
					<li>Update of internal "reference data"</li>
				</ul>
			
