<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Calculation simulation engine
		</h1>
		<p class="lead">Learn more ...</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
<a class="nav-link ml-1" href="#what-is-it">1. What is it ?</a>
<a class="nav-link ml-1" href="#how-does-it-work">2. How does it work ?</a>
<a class="nav-link ml-1" href="#features-of-the-simulation-engine">3. Features of the simulation engine</a>
<a class="nav-link ml-1" href="#main-functions-of-the-administration-module">4. Main functions of the administration module</a>
</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/en/learn-more-what-is-it.html.twig' %}
				{% include 'admin/pages/documentation/en/learn-more-how-does-it-work.html.twig' %}
				{% include 'admin/pages/documentation/en/learn-more-features-of-the-simulation-engine.html.twig' %}
				{% include 'admin/pages/documentation/en/learn-more-main-functions-of-the-administration-module.html.twig' %}
				</div>
		</div>
	</div>
</div>
