				<h1 id="how-does-it-work">
					2. How does it work ?
				</h1>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/g6k-schema.png') }}" alt="">
				</p>
				<p>An administrator or a contributor defines the data to be requested to the user via forms and the results to be returned (possibly via intermediate calculation data).</p>
				<p>The administrator stages the simulation by defining simulation steps. Each step consists of a form allowing the input or output of the previously defined data.</p>
				<p>The administrator defines reference data sources that can be:</p>
				<ul>
					<li>external and accessible via web services or sql requests;</li>
					<li>or internal, stored in a G6K database.</li>
				</ul>
				<p>The administrator or contributor defines rules (called "business rules in G6K) and calculations to be applied in the domain of simulation.</p>
				<p>Data, data sources, steps, and business rules are saved in an XML file.</p>
				<p>G6K has a simulation engine to "run" the simulation using the definitions contained in the XML file and data sources.</p>
				
