<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>
			G6K: Administration guide
		</h1>
		<p class="lead">Simulators management</p>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<nav id="document-toc" class="navbar navbar-light bg-light flex-column" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link ml-1" href="#simulators">1. Simulators</a>
<a class="nav-link ml-1" href="#before-you-begin">2. Before you begin</a>
<a class="nav-link ml-1" href="#creating-a-data-source">3. Creating a data source</a>
<a class="nav-link ml-1" href="#creating-a-simulator">4. Creating a simulator</a>

					<nav class="nav nav-pills flex-column">
						<a class="nav-link ml-2" href="#used-data-sources">4.1. Used data sources</a>

						<nav class="nav nav-pills flex-column">
<a class="nav-link ml-3" href="#simple-query">4.1.1. Simple query</a>
<a class="nav-link ml-3" href="#complex-query">4.1.2. Complex query</a>
</nav>
						<a class="nav-link ml-2" href="#data">4.2. Data</a>
<a class="nav-link ml-2" href="#steps">4.3. Steps</a>

						<nav class="nav nav-pills flex-column">
							<a class="nav-link ml-3" href="#panels">4.3.1. Panels</a>

							<nav class="nav nav-pills flex-column">
								<a class="nav-link ml-4" href="#fieldset">4.3.1.1. Fieldset</a>

								<nav class="nav nav-pills flex-column">
<a class="nav-link ml-5" href="#fields">4.3.1.1.1. Fields</a>
</nav>
								<a class="nav-link ml-4" href="#block-of-information">4.3.1.2. Block of information</a>

								<nav class="nav nav-pills flex-column">
									<a class="nav-link ml-5" href="#chapter">4.3.1.2.1. Chapter</a>

									<nav class="nav nav-pills flex-column">
<a class="nav-link ml-6" href="#section">4.3.1.2.1.1. Section</a>
</nav>
								</nav>
							</nav>
							<a class="nav-link ml-3" href="#footnotes">4.3.2. Footnotes</a>
<a class="nav-link ml-3" href="#action-buttons">4.3.3. Action Buttons</a>

						</nav>
						<a class="nav-link ml-2" href="#business-rules">4.4. Business rules</a>
<a class="nav-link ml-2" href="#profiles">4.5. Profiles</a>
<a class="nav-link ml-2" href="#simulator-registration">4.6. Simulator registration</a>
<a class="nav-link ml-2" href="#deploying-on-front-end-servers">4.7. Deploying on front-end servers</a>

					</nav>
				</nav>
			</nav>
		</div>
		<div class="col-9">
			<div class="document-content">
				{% include 'admin/pages/documentation/en/simulators-management-simulators.html.twig' %}
				{% include 'admin/pages/documentation/en/simulators-management-before-you-begin.html.twig' %}
				{% include 'admin/pages/documentation/en/simulators-management-creating-a-data-source.html.twig' %}
				{% include 'admin/pages/documentation/en/simulators-management-creating-a-simulator.html.twig' %}
				</div>
			</div>
		</div>
	</div>
