				<h3 id="action-buttons">
						4.3.3. Action Buttons
					</h3>
					<p>
						The action buttons allow you to sequence the steps, reset a form, start a new simulation, or open a page outside the simulator.
						<br>
						They will appear in the <span class="bs-docs-number-circle">15</span> area of the page.
					</p>
					<p>To add an action button, click the « Add action button » button in the title bar of the « Action Buttons » panel:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-action-add-button.png') }}" alt="">
					</p>
					<p>The button attributes input form is displayed:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-action-add.png') }}" alt="">
					</p>
					<p><strong>Attributes:</strong></p>
					<ol>
						<li>« Name »: Button name without spaces or special or accented characters.</li>
						<li>« Label »: Button label.</li>
						<li>« What »: « Submit » if you want to go to the step defined by the attribute « For », « Reset » to reset (erase the data) the form.</li>
						<li>« For »: If the action chosen is « Submit », this attribute defines the sequence (next, previous, current or specific step), a new simulation or the opening of an external page.</li>
					</ol>
					<p><strong>Optional attributes:</strong></p>
					<ol>
						<li>« URI / Step »: If the « For » attribute contains « External page », then this attribute contains the URI of the page. If the « For » attribute contains « Jump to step », then this attribute contains the number of the target step.</li>
						<li>« Class »: Level of importance of the « Main » button the button will be put forward visually and « Secondary » the button will not be put forward visually.</li>
					</ol>
					
