				<h2 id="business-rules">
						4.4. Business rules
					</h2>
					<p>Business rules are defined in the following way: « When ... » condition, « Then ... » actions and « Else ... » actions.</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-add-button.png') }}" alt="">
					</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-rule-add.png') }}" alt="">
					</p>
					<p>It is the « business rules » that determine the behavior of the simulator. They are triggered when the context changes.</p>
					<p>A change of context always results in the acquisition or modification of data.</p>
					<p>G6k inquiries about the context change by reverting the conditions associated with the rules when the value of a data changes.</p>
					<p>Thus, when the user enters a value, g6K accesses a reference data or a value is calculated, the impacted rules are triggered and the associated actions are performed:</p>
					<p>The actions that can be carried out are:</p>
					<ul>
						<li>Show or hide part of the page (a field, a fields set, a panel, a button, ...)</li>
						<li>Display an error or warning message</li>
						<li>Perform a calculation and assign it to a data</li>
					</ul>
					<p>Refer to the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'business-rules' }) }}">Business Rules Composition</a> page for how to compose a rule.</p>
					
