				<h6 id="section">
						4.3.1.2.1.1. Section
					</h6>
					<p>
						The section is a subdivision of a chapter. It is in the sections that the different texts of a block of information are inscribed.
						<br>
						The text of a section can be annotated.
 
To add a section, click the "Add Section" button on the title bar of the « Chapter » panel:
					</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-chapter-add-section-button.png') }}" alt="">
					</p>
					<p>The form for entering a section is displayed:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-section-add.png') }}" alt="">
					</p>
					<p><strong>Optional attributes:</strong></p>
					<ol>
						<li>« Name »: Name of the section without spaces or special or accented characters.</li>
						<li>« Label »: The label of the section. It appears in the <span class="bs-docs-number-circle">11</span> area of the page.</li>
					</ol>
					<p>
						Enter the rich text of the section in the « Content » field of the form.
						<br>
						This content will be displayed in the <span class="bs-docs-number-circle">12</span> area of the page.
					</p>
					<p>
						Optionally, annotations of the text can be added in the « Annotations » field.
						<br>
						These annotations will appear in the <span class="bs-docs-number-circle">13</span> area of the page.
					</p>
					
