				<h1 id="simulators">
					1. Simulators
				</h1>
				<p>A calculation simulator is an online service made available to a user to enable them to calculate the results (taxes, social benefits, etc.) corresponding to their particular situation.</p>
				<p>The results are calculated on the basis of data supplied by the user, reference data (e.g. amount of a tax) and business rules reflecting the current legislation in the field of simulation.</p>
				<p>Creating simulators is reserved for users with the « Manager », « Administrator » or « Super Administrator » role.</p>
				
