				<h3 id="footnotes">
						4.3.2. Footnotes
					</h3>
					<p>A footnote is a contextualized note (which can be shown or hidden by business rules) in the lower part of the form (<span class="bs-docs-number-circle">14</span> of the page) of a simulation step.</p>
					<p>The footnotes can be placed, at your convenience, before or after the action buttons.</p>
					<p>To add footnotes, click the « Add » button in the title bar of the « Steps » panel:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="">
					</p>
					<p>then click « Add footnotes » on the menu:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-footnotes-add.png') }}" alt="">
					</p>
					<p>Choose their locations (before or after the action buttons) and validate.</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-footnotes-display.png') }}" alt="">
					</p>
					<p>Then click the « Add footnote » button in the title bar:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-footnote-add.png') }}" alt="">
					</p>
					<p>Enter the note then validate.</p>
					<p>The number of notes you can add is not limited.</p>
					
