				<h1 id="creating-a-data-source">
					3. Creating a data source
				</h1>
				<p>If you need a reference data source and it does not yet exist, you must create it before creating the simulator.</p>
				<p>Refer to <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'datasources-management' }) }}">« Data Sources management »</a> in the documentation.</p>
				
