				<h3 id="panels">
						4.3.1. Panels
					</h3>
					<p>The panels compose the steps and are themselves made up of groups of fields.
If there are several panels, they will be presented in the form of tabs:</p>
					<p>To add a panel, click the « Add » button in the title bar of the « Steps » panel:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/fr/simulators-management-step-add-menu.png') }}" alt="">
					</p>
					<p>then click « Add Panel » in the menu:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-panel-add.png') }}" alt="">
					</p>
					<p><strong>Attributes:</strong></p>
					<ol>
						<li>« Name »: Name of the panel without spaces or special or accented characters.</li>
					</ol>
					<p>
						<strong><em>Optional attribute:</em></strong>
					</p>
					<ol>
						<li>« Label »: Panel label. It appears in the area <span class="bs-docs-number-circle">2</span> of the page.</li>
					</ol>
					{% include 'admin/pages/documentation/en/simulators-management-fieldset.html.twig' %}
				{% include 'admin/pages/documentation/en/simulators-management-block-of-information.html.twig' %}
				
