				<h4 id="block-of-information">
						4.3.1.2. Block of information
					</h4>
					<p>
						The blockinfo is an element of the simulation page of the same level as the field group but does not contain any input or output fields.
						<br>
						It contains textual information that can be useful to the user in the simulation process. It can be contextualized by showing / hiding it totally or partially using the actions of business rules depending on certain conditions.
					</p>
					<p>The blockinfos are composed of one or many chapters themselves composed of one or many sections.</p>
					<p>To add a blockinfo, click the "Add" button in the title bar of the "Panel" panel:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-panel-add-menu.png') }}" alt="">
					</p>
					<p>then "Add blockinfo" from the menu:</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-blockinfo-add.png') }}" alt="">
					</p>
					<p><strong>Optional attributes:</strong></p>
					<ol>
						<li>« Name »: Blockinfo name without spaces or special or accented characters.</li>
						<li>« Label »: Blockinfo label. It appears in the area <span class="bs-docs-number-circle">9</span> of the page.</li>
					</ol>
					{% include 'admin/pages/documentation/en/simulators-management-chapter.html.twig' %}
				
