				<h2 id="simulator-registration">
						4.6. Simulator registration
					</h2>
					<p>
						At the end of your entry, click the 
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-save.png') }}" alt="">
						button at the top right of the page to save your work.
					</p>
					<p>Note that G6K saves a version of « work » that it will be necessary to « Publish ».</p>
					
