				<h2 id="profiles">
						4.5. Profiles
					</h2>
					<p>When you define profiles, you will pre-define data related to the different profiles.</p>
					<p>Profiles can correspond to types of people e.g. predefined data for a professional differ from pre-filled data of an individual.</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-profile-add-button.png') }}" alt="">
					</p>
					<p>
						<img src="{{ asset('assets/admin/images/documentation/en/simulators-management-profiles.png') }}" alt="">
					</p>
					<p><strong>Attributes:</strong></p>
					<ol>
						<li>« Title »: Title of your profiles.</li>
						<li>« Name »: Name of the profile.</li>
						<li>« Label »: The label of the profile.</li>
						<li>« Data »/« Add »: Add data to be filled in.</li>
						<li>« Data »: Choice of the data to be filled.</li>
						<li>« Value »: Pre-filled value.</li>
					</ol>
					
