				<h1 id="functions">
					3. Functions
				</h1>
				{% include 'admin/pages/documentation/en/source-query-builder-sqlite.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-mysql.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-postgresql.html.twig' %}
				
