				<h2 id="sqlite">
					3.1. SQLite
				</h2>
				<table class="table-responsive table-sm table-striped table-bordered">
					<thead>
						<tr>
							<th>Function</th>
							<th>Description</th>
							<th align="center">Number of arguments</th>
							<th>Type returned</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>abs</td>
							<td>returns the absolute value of the numeric argument</td>
							<td align="center">1</td>
							<td>number</td>
						</tr>
						<tr>
							<td>ifnull</td>
							<td>returns a copy of its first non-NULL argument, or NULL if both arguments are NULL</td>
							<td align="center">2</td>
							<td>text</td>
						</tr>
						<tr>
							<td>instr</td>
							<td>find the substring (argument 1) in the string (argument 2) and return an integer indicating the position of the first occurrence of the substring.</td>
							<td align="center">2</td>
							<td>number</td>
						</tr>
						<tr>
							<td>length</td>
							<td>returns the length of the string passed as argument</td>
							<td align="center">1</td>
							<td>integer</td>
						</tr>
						<tr>
							<td>like</td>
							<td>returns true if argument 2 matches the pattern provided in argument 1, false otherwise</td>
							<td align="center">2</td>
							<td>boolean</td>
						</tr>
						<tr>
							<td>lower</td>
							<td>converts the string to lowercase letters</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>ltrim</td>
							<td>returns a string whose white characters at the beginning of the supplied string are deleted</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>max</td>
							<td>returns the largest of the values ​​provided in arguments</td>
							<td align="center">-1</td>
							<td>number</td>
						</tr>
						<tr>
							<td>min</td>
							<td>returns the smallest of the values ​​provided in arguments</td>
							<td align="center">-1</td>
							<td>number</td>
						</tr>
						<tr>
							<td>nullif</td>
							<td>returns NULL if the first argument is equal to the second argument.</td>
							<td align="center">2</td>
							<td>text</td>
						</tr>
						<tr>
							<td>quote</td>
							<td>returns a string that is the value of its argument in a form suitable for inclusion in an SQL statement. The strings are surrounded by single quotation marks with escapes on inner quotation marks if necessary.</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>random</td>
							<td>returns a pseudo-random integer between -9223372036854775808 and 9223372036854775807</td>
							<td align="center">0</td>
							<td>number</td>
						</tr>
						<tr>
							<td>replace</td>
							<td>returns a copy of the string in argument 1 with each instance of the substring in argument 2 replaced with the substring as argument 3</td>
							<td align="center">3</td>
							<td>text</td>
						</tr>
						<tr>
							<td>round</td>
							<td>rounding a numeric value to the specified precision</td>
							<td align="center">2</td>
							<td>number</td>
						</tr>
						<tr>
							<td>rtrim</td>
							<td>returns a string whose white characters at the end of the supplied string are deleted</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>soundex</td>
							<td>returns a string that is the soundex encoding of the string passed in argument</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>trim</td>
							<td>returns a string whose white characters at the beginning and end of the supplied string are deleted</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>upper</td>
							<td>converts the string to uppercase</td>
							<td align="center">1</td>
							<td>text</td>
						</tr>
						<tr>
							<td>strftime</td>
							<td>format the date according to the specified format string</td>
							<td align="center">2</td>
							<td>text</td>
						</tr>
					</tbody>
				</table>
				
