				<h2 id="selection-of-the-table">
					2.1. Selection of the table
				</h2>
				<p>In the list box of the « Table » field, only tables of the data source chosen in the « Simulators » pane are available. Select the table to which the request is made.</p>
				
