				<h2 id="limit-the-number-of-result-rows">
					2.5. Limit the number of result rows
				</h2>
				<p>Another way to filter the query results is to limit unconditionally the number of returned rows.</p>
				<p>The « Number of results » and « From » fields of the form allow you to define a "window" of rows on all the result rows.</p>
				<ul>
					<li>« Number of results »: Number of results rows you want to retrieve. « 0 » means: all rows.</li>
					<li>« From »: Number of the first rows you want to retrieve. Rows are numbered from 0 to n.</li>
				</ul>
				
