				<h1 id="usage">
					2. Usage
				</h1>
				<p>This component is used in the « Simulators » pane of the administration module. See the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}#used-data-sources">Used datasources</a> section of the Simulator Management Guide.</p>
				<p>In the data source definition form you have opened, only the part concerning the following simple queries is covered in this document:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/query-builder-form-empty.png') }}" alt="">
				</p>
				{% include 'admin/pages/documentation/en/source-query-builder-selection-of-the-table.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-selection-of-columns.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-composition-of-the-filter.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-sorting-result-rows.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-limit-the-number-of-result-rows.html.twig' %}
				{% include 'admin/pages/documentation/en/source-query-builder-setting-parameters.html.twig' %}
				
