				<h1 id="overview">
					1. Overview
				</h1>
				<p>This UI component is a visual wizard for composing simple database access requests for reference data sources.</p>
				<p>A simple query is a query that relates to only one table and does not contain nested queries.</p>
				<p>The result of executing the query is a set of result lines that can be filtered in two ways:</p>
				<ul>
					<li>either by keeping only the lines that meet a certain condition</li>
					<li>either by keeping only p lines from line number q (the lines are numbered from 0 to n)</li>
				</ul>
				<p>Conditions are expressions that are composed with the name of the columns</p>
				<p>The result rows include only the columns that have been selected and can be sorted in a specific order.</p>
				
