				<h2 id="sorting-result-rows">
					2.4. Sorting result rows
				</h2>
				<p>You can sort the result lines according to several criteria(sort keys), in ascending or descending order.</p>
				<p>Criteria can be column names or expressions.</p>
				<p>To add a criterion, click in the « Order by » field or on the «   » sign to the right of the field:</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/query-builder-orderby-add.png') }}" alt="">
				</p>
				<p>Click the list box to choose a field or compose an expression.</p>
				<p>To change the sort order on this criterion, click on « in ascending order ».</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/query-builder-orderby-asc-desc.png') }}" alt="">
				</p>
				<p>You have entered a criterion, you can enter other criteria by clicking in the empty space of the field or on the sign «   »</p>
				<p>To delete a criterion, click on the « X » to the left of the criterion.</p>
				
