				<h1 id="user-accounts">
					1. User accounts
				</h1>
				<p>This interface allows you to manage the user accounts that are authorized to access either the G6K administration module or the protected access simulators.</p>
				<p><strong>Note that the administration module does not allow to protect access to a simulator, it is necessary to ask the system administrator who will modify the configuration of G6K accordingly.</strong></p>
				<p>Not all user accounts have access to the same administrative functions.</p>
				<p>Access to the functions is done according to « roles » which respect the following hierarchy:</p>
				<ul>
					<li>« User » : access to protected simulators requiring authentication.</li>
					<li>« Contributor » : function of the role « user »   access to tutorials, update of data and therefore access to the menu « Data Sources".</li>
					<li>« Manager » : role functions « contributor »   management (creation / modification) of the simulators.</li>
					<li>« Admin » : functions of the role « manager »   management of views and cache.</li>
					<li>« Super admin » : functions of the role « admin »   management of the users.</li>
				</ul>
				<p>So every manager is a contributor, every admin is manager and so on ...</p>
				
