				<h2 id="editing-a-user">
					2.2. Editing a user
				</h2>
				<p>
					To change a user account, click the button:
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-edit-button.png') }}" alt="">
					<br>
					The account line becomes editable, so you can make your changes:
				</p>
				<ul>
					<li>Enable/disable account;</li>
					<li>Change the username, email, password;</li>
					<li>Add or remove roles.</li>
				</ul>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-edit.png') }}" alt="">
				</p>
				<p>To remove a role, click the cross to the left of the role name.</p>
				<p>When you click in the "Roles" field, a drop-down list opens to select a role.</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-create-roles.png') }}" alt="">
				</p>
				<p>
					To save your changes, click the 
					<img src="{{ asset('assets/admin/images/documentation/en/users-management-user-edit-save-button.png') }}" alt="">
					button.
				</p>
				
