				<h1 id="what-is-a-view">
					1. What is a view?
				</h1>
				<p>
					Views are design elements of pages and styles in which the simulators are integrated. They are composed of « Templates » and « Assets ».
					<br>
					« Templates » are (.twig) files that structure the page that is displayed.
					<br>
					« Assets » contain all the style elements (CSS files, JavaScript, images, fonts ...).
				</p>
				<p>Managing (creating, modifying, deleting) views is only allowed for users with the « Manager », « Administrator » or « Super Administrator » role.</p>
				
