				<h2 id="remove-an-element">
					4.4. Remove an element
				</h2>
				<p>
					To remove a folder, a subfolder or a file, click the « Remove this element » button : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-delete-button.png') }}" alt="">
					<br>
					A confirmation message will appear. If you are sure to delete this element, press « OK ».
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-file-delete-confirm.png') }}" alt="">
				</p>
				<p>
					The page will then be reloaded and the item you have deleted will no longer be displayed.
					<br>
					If you delete a folder that contains other elements, all its contents will be deleted.
				</p>
				<div class="alert alert-warning" role="alert">
CAUTION: Some templates are mentioned in the definition of steps (see attribute « Step display template ») in the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Create a simulator</a> documentation, if you remove them, please update the step of the simulator involved.
</div>
				
