				<h2 id="update-a-file">
					4.3. Update a file
				</h2>
				<p>
					To update a file, click the « Update this file » button : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-update-button.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-update-buttonbar.png') }}" alt="">
				</p>
				<p>An edit box will appear where you can edit the file.</p>
				<p class="figure-legend">Figure 6 - Editing interface (white background)</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-file-update.png') }}" alt="">
				</p>
				<p>
					Once you have made your changes, click the « Save » button to save the file.
					<br>
					Once the filed saved, the « Save » button will change to the « Edit » button and you will not be able to edit the file until you press the « Edit » button.
				</p>
				<p class="figure-legend">Figure 7 - Uneditable interface, saved changes (greyish background)</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-file-updated.png') }}" alt="">
				</p>
				
