				<h1 id="managing-a-view">
					4. Managing a view
				</h1>
				<p>There are several buttons that allow you to manage the « Templates » and « Assets ». Their functions are defined below.</p>
				{% include 'admin/pages/documentation/en/views-management-adding-a-subfolder-or-a-file-to-an-existing-folder.html.twig' %}
				{% include 'admin/pages/documentation/en/views-management-rename-an-element.html.twig' %}
				{% include 'admin/pages/documentation/en/views-management-update-a-file.html.twig' %}
				{% include 'admin/pages/documentation/en/views-management-remove-an-element.html.twig' %}
				{% include 'admin/pages/documentation/en/views-management-remove-a-view.html.twig' %}
				
