				<h2 id="rename-an-element">
					4.2. Rename an element
				</h2>
				<p>
					To rename an element, simply press the « Rename ‘element’ » button : 
					<img src="{{ asset('assets/admin/images/documentation/views-management-file-rename-button.png') }}" alt="">
					<br>
					A form will prompt you to indicate the new name of the element. You will need to press the « Submit » button to apply the renaming.
				</p>
				<p class="figure-legend">Figure 5 - Form to rename the element and displaying of the renamed element</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-folder-rename.png') }}" alt="">
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-folder-renamed.png') }}" alt="">
				</p>
				<div class="alert alert-warning" role="alert">
CAUTION: Some templates are mentioned in the definition of steps (see attribute « Step display template ») in the <a href="{{ path('eureka_g6k_admin_documentation', {'document': 'simulators-management' }) }}">Create a simulator</a> documentation, if you rename them, please update the step of the simulator involved.
</div>
				
