				<h1 id="export-a-view">
					3. Export a view
				</h1>
				<p>
					If you want to export the « Templates » or the « Assets », select the corresponding tab and click on the button 
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-export-button.png') }}" alt="">
					.
					<br>
					G6K then generates a zipped file that you can download.
				</p>
				<p>
					<img src="{{ asset('assets/admin/images/documentation/views-management-export-templates.png') }}" alt="">
					<img src="{{ asset('assets/admin/images/documentation/views-management-export-assets.png') }}" alt="">
				</p>
				<p>Export (recommended) allows you to archive your views and re-import them into a new system if you change it.</p>
				
