				<h2 id="remove-a-view">
					4.5. Remove a view
				</h2>
				<p>
					If you want to delete a view, click the « Drop view » button.
					<br>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-delete-button.png') }}" alt="">
				</p>
				<p>
					A confirmation message will appear. If you are sure you want to delete the view, click « OK ».
					<br>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-delete-confirm.png') }}" alt="">
				</p>
				<p>
					The view will be deleted and will no longer be displayed in the « Views Management » menu:
					<br>
					<img src="{{ asset('assets/admin/images/documentation/en/views-management-view-deleted.png') }}" alt="">
				</p>
				<div class="alert alert-warning" role="alert">
CAUTION: All simulators that use this view as « Default view » should be updated.
</div>
				
